{% extends 'base.html.twig' %}

{% block title %}Cuba GPS | {{ app.session.get('language') == 'es'? 'Lista':'List' }}-{% if type == 'casa' %}{{ app.session.get('language') == 'es'? 'Casas':'Houses' }}
{% elseif type == 'carro' %}{{ app.session.get('language') == 'es'? 'Coches':'Cars' }}
{% elseif type == 'excursion' %}{{ app.session.get('language') == 'es'? 'Excursiones':'Trips' }}
{% elseif type == 'paquete' %}{{ app.session.get('language') == 'es'? 'Paquetes':'Packages' }}
{% else %}{{ app.session.get('language') == 'es'? 'Resultados':'Results' }}
{% endif %}

{% endblock %}

 {% block stylesheets %}

     {{ parent() }}


 {% endblock %}

{% block menubase %}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <section class="bg-light" id="portfolio">
        <div class="container">
            {#<div class="row">#}
            {#<div class="col-lg-12 text-center">#}
            {#<h2 class="section-heading text-uppercase">{{ app.session.get('language') == 'es'? 'Ofertas':'Offers' }}</h2>#}
            {#<h3 class="section-subheading text-muted">{{ app.session.get('language') == 'es'? 'Cuba al alcance de tu mano':'Cuba at your fingertips' }}</h3>#}
            {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="casas"
                        class="section-heading text-uppercase">
                        {% if type == 'casa' %}
                            {{ app.session.get('language') == 'es'? 'Casas':'Houses' }}
                        {% elseif type == 'carro' %}
                            {{ app.session.get('language') == 'es'? 'Coches':'Cars' }}
                        {% elseif type == 'excursion' %}
                            {{ app.session.get('language') == 'es'? 'Excursiones':'Trips' }}
                        {% elseif type == 'paquete' %}
                            {{ app.session.get('language') == 'es'? 'Paquetes':'Packages' }}
                        {% else %}
                            {{ app.session.get('language') == 'es'? 'Resultados':'Results' }}
                        {% endif %}

                        <span class="cont">{{ data.getTotalItemCount }}</span>
                    </h2>


                </div>
                {% for i in data %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a class="portfolio-link" href="{{ path('oferta',{'id':i.id,'type':i.getType}) }}">
                            <div id="{{ 'carouselcasa'~loop.index }}" class="carousel slide"
                                 data-ride="carousel "
                                 data-interval="false">
                                <div class="carousel-inner">
                                    {% for image in i.images %}
                                        <div {% if loop.index==1 %}class="carousel-item active"
                                             {% else %}class="carousel-item"{% endif %}>
                                            <img class="img-fluid fotosOferta"
                                                 src="{{ asset(image.half) }}"
                                                 alt="{{ image.altName }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="{{ '#carouselcasa'~loop.index }}"
                                   role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="{{ '#carouselcasa'~loop.index }}"
                                   role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                {% if i.getType == 'Casa' %}
                                    <div class="texto-encima">
                                        <h6>{{ i.precio ~' € ' }}{{ app.session.get('language') == 'es'? ' por noche':' per night' }}</h6>
                                    </div>
                                {% elseif i.getType == 'Excursion' %}
                                    <div class="texto-encima">
                                        <h6>{{ i.precio1 ~' € ' }}{{ app.session.get('language') == 'es'? ' por persona':' per person' }}</h6>
                                    </div>
                                {% elseif i.getType == 'Paquete' %}
                                    <div class="texto-encima">
                                        <h6>{{ i.precio1 ~' € ' }}{{ app.session.get('language') == 'es'? ' por persona':' per person' }}</h6>
                                    </div>
                                {% endif %}

                            </div>
                        </a>
                        <div class=" infoOferta text-left">
                            <div class="timeline-body">
                                <div class="provinciaO">
                                    {% if i.valoracionArray[0]!=0 %}
                                        {% for j in 1..i.valoracionArray[0] %}
                                            <i class="fas fa-star star"></i>
                                        {% endfor %}
                                    {% endif %}
                                    {% if i.valoracionArray[1] %}
                                        <i class="fas fa-star-half-alt star"></i>
                                    {% endif %}
                                    {% if i.valoracionArray[2]!=0 %}
                                        {% for j in 1..i.valoracionArray[2] %}
                                            <i class="far fa-star star"></i>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if i.getType=='Casa' %}
                                <a class="nav-item nombreO" href="{{ path('oferta',{'id':i.id,'type':i.getType}) }}">
                                    <h4>{{ app.session.get('language') == 'es'?
                                        i.nombre:
                                        i.name }}</h4></a>
                                <h6 class="provinciaO">{{ i.municipio~', '~i.provincia }}</h6>
                                <div class="timeline-body">
                                    <h7 class="descr text-muted">
                                        {{ app.session.get('language') == 'es'?
                                        i.descripcion[:200]:
                                        i.description }}
                                        <a style="color: #2b506b;"
                                           href="{{ path('oferta',{'id':i.id,'type':i.getType}) }}"><strong>(...)</strong></a>
                                    </h7>

                                </div>
                            {% elseif i.getType == 'Carro' %}
                                <a class="nav-item nombreO" href="{{ path('oferta',{'id':i.id,'type':i.getType}) }}">
                                    <h4>{{ i.nombre }}</h4></a>
                                <h6 class="provinciaO">{{ i.provincia }}</h6>
                                <div class="timeline-body">
                                    <h7 class="descr text-muted">
                                        {{ app.session.get('language') == 'es'?
                                        i.descripcion[:200]:
                                        i.description }}
                                        <a style="color: #2b506b;"
                                           href="{{ path('oferta',{'id':i.id,'type':i.getType}) }}"><strong>(...)</strong></a>
                                    </h7>
                                </div>
                            {% elseif i.getType == 'Excursion' %}
                                <a class="nav-item nombreO" href="{{ path('oferta',{'id':i.id,'type':i.getType}) }}">
                                    <h4>{{ app.session.get('language') == 'es'?
                                        i.nombre:
                                        i.name }}</h4></a>

                                <h6 class="provinciaO">{{ i.provincia }}</h6>
                                <div class="timeline-body">
                                    <h7 class="descr text-muted">
                                        {{ app.session.get('language') == 'es'?
                                        i.descripcion[:200]:
                                        i.description }}
                                        <a style="color: #2b506b;"
                                           href="{{ path('oferta',{'id':i.id,'type':i.getType}) }}"><strong>(...)</strong></a>
                                    </h7>

                                </div>
                            {% else %}
                                <a class="nav-item nombreO" href="{{ path('oferta',{'id':i.id,'type':i.getType}) }}">
                                    <h4>{{ app.session.get('language') == 'es'?
                                        i.nombre:
                                        i.name }}</h4></a>
                                {#<div class="serviciosOfertas" style="margin-right: 10px">#}
                                {#<div class="iconogeneral">#}

                                {#<div class="iconoServ">#}
                                {#<h6>#}
                                {#<span><i class="far fa-sun"></i></span>#}
                                {#Cantidad de dias#}
                                {#{{ i.duracion }}{{ app.session.get('language') == 'es'? ' Días ':' Days' }}#}
                                {#</h6>#}
                                {#</div>#}
                                {#</div>#}
                                {#</div>#}
                                {#<div class="serviciosOfertas" style="margin-right: 10px">#}
                                {#<div class="iconogeneral">#}

                                {#<div class="iconoServ">#}
                                {#<h6>#}
                                {#<span><i class="far fa-moon"></i></span>#}
                                {#Cantidad de noches#}
                                {#{{ i.nochesDuracion }}{{ app.session.get('language') == 'es'? ' Noches ':' Nights' }}#}
                                {#</h6>#}
                                {#</div>#}
                                {#</div>#}
                                {#</div>#}
                                <div class="timeline-body">
                                    <div class="provinciaO">
                                        <div class="serviciosOfertas">
                                            <h6>
                                                <span><i class="far fa-sun"></i></span>
                                                {#Cantidad de dias#}
                                                {{ i.duracion }}{{ app.session.get('language') == 'es'? ' Días ':' Days' }}
                                            </h6>
                                        </div>
                                        <div class="serviciosOfertas">
                                            <h6>
                                                <span><i class="far fa-moon"></i></span>
                                                {#Cantidad de noches#}
                                                {{ i.nochesDuracion }}{{ app.session.get('language') == 'es'? ' Noches ':' Nights' }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <h7 class="descr text-muted">
                                        {{ app.session.get('language') == 'es'?
                                        i.descripcion[:200]:
                                        i.description }}
                                        <a style="color: #2b506b;"
                                           href="{{ path('oferta',{'id':i.id,'type':i.getType}) }}"><strong>(...)</strong></a>
                                    </h7>

                                </div>
                            {% endif %}

                        </div>
                    </div>
                {% else %}
                    <h3>{{ app.session.get('language') == 'es'?
                        'No se han encontrado resultados':
                        'No results have been found' }}</h3>
                {% endfor %}
                {#boton de ver mas#}



            </div>
            <div class="row">

                <div class="col-12 portfolio-item">

                    <div class="navigation">
                        {{ knp_pagination_render(data) }}
                    </div>


                </div>

            </div>
        </div>
    </section>


    {#<div class="row">#}

        {#<div class="col-12 portfolio-item">#}

                        {#<div class="navigation">#}
                            {#{{ knp_pagination_render(data) }}#}
                        {#</div>#}


        {#</div>#}

    {#</div>#}

{% endblock %}


{% block footer %}
    {{ parent() }}


{% endblock %}


{% block javascripts %}
    {{ parent() }}



{% endblock %}

