{% extends 'emailBase.html.twig' %}

{% block title %}Email de Confirmaci칩n{% endblock %}

 {% block stylesheets %}
     {{ parent() }}

 {% endblock %}


{% block body %}
    {{ parent() }}


    <table class="body-wrap" bgcolor="">
        <tr>
            <td></td>
            <td class="container" align="" bgcolor="#FFFFFF">

                <!-- content -->


                {#Cuando toido esta confirmado#}
                {% if rechazos|length == 0 %}
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <h2>Estimad@ {{ user }}</h2>
                                    <p class="lead">Enhorabuena le comunicamos que si hay disponibilidad para los
                                        servicios en las fechas que ha solicitado.
                                        Ha hecho usted una excelente elecci칩n.
                                        춰Tenga una feliz estancia!
                                    </p>
                                    <!-- A Real Hero (and a real human being) -->
                                    {#<p><img src="http://placehold.it/600x300" /></p><!-- /hero -->#}
                                    <p>Atentamente, <a href="#">Equipo Cuba GPS! &raquo;</a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% for r in reservas %}
                        <div class="content">
                            <table bgcolor="">
                                <tr>
                                    <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><a href="{{ path('oferta',{'id':r.id,'type':r.getType}) }}"><img
                                                    src="{{ 'https://www.travelcubagps.com/'~r.commponent.mainImage.min }}"/></a></td>
                                    <td>
                                        <h4><a href="{{ path('oferta',{'id':r.id,'type':r.getType}) }}">{{ r.commponent }}</a>

                                        </h4>
                                        <p class="">{{ r.commponent.descripcion }}</p>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- /content -->
                    {% endfor %}
                    {#Boton de pago cuando esta disponible#}
                    <div class="content">
                        <table bgcolor="">
                            <tr>
                                <td align="center">
                                    <!-- Callout Panel -->
                                    <h3><a href="https://www.travelcubagps.com/reserve/show_confirmed_reserves" class="btn">Efectuar Pago </a></h3>

                                </td>
                            </tr>
                        </table>
                    </div>
                {% elseif  reservas|length == 0 %}
                    {#Cuando no esta cpnfirmado#}
                    <div class="content">
                        <table>
                            <tr>
                                <td>

                                    <h2>Estimad@ {{ user }}</h2>
                                    <p class="lead">Gracias por elegirnos. Hemos revisado su solicitud y lamentamos
                                        informarles que
                                        no se encuentra disponible para estas fechas.
                                        Pero no se preocupe, podemos ofertarle otros servicio muy similares al anterior,
                                        esperamos sean de su agrado.
                                    </p>
                                    <!-- A Real Hero (and a real human being) -->
                                    {#<p><img src="http://placehold.it/600x300" /></p><!-- /hero -->#}
                                    <p>Cordialmente <a href="#">Equipo Cuba GPS! &raquo;</a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {#Cuando no esta cpnfirmado#}

                {% else %}
                    {#Cuando hay algunos disponibles y otros no#}
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <h2>Estimad@ {{ user }}:</h2>
                                    <p class="lead">Todo el equipo de CubaGPS agradece sus peticiones de servicios.
                                        Le informamos que los siguientes servicios est치n disponibles para usted, ha
                                        hecho usted una excelente elecci칩n.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% for r in reservas %}
                        <div class="content">
                            <table bgcolor="">
                                <tr>
                                    <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><a href="{{ path('oferta',{'id':r.id,'type':r.getType}) }}"><img
                                                    src="{{ 'https://www.travelcubagps.com/'~r.commponent.mainImage.min }}"/></a></td>
                                    <td>
                                        <h4><a href="{{ path('oferta',{'id':r.id,'type':r.getType}) }}">{{ r.commponent }}</a>

                                        </h4>
                                        <p class="">{{ r.commponent.descripcion }}</p>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- /content -->
                    {% endfor %}
                    {#Cuando hay algunos disponibles y otros no#}
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <p class="lead">Lamentamos la felicidad no sea completa, ya que los siguientes
                                        servicios no est치n disponible para las fechas solicitadas.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% for r in rechazos %}
                        <div class="content">
                            <table bgcolor="">
                                <tr>
                                    <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><a href="{{ path('oferta',{'id':r.id,'type':r.getType}) }}"><img
                                                    src="{{ 'https://www.travelcubagps.com/'~r.commponent.mainImage.min }}"/></a></td>
                                    <td>
                                        <h4><a href="{{ path('oferta',{'id':r.id,'type':r.getType}) }}">{{ r.commponent }}</a>

                                        </h4>
                                        <p class="">{{ r.commponent.descripcion }}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                    {#Boton de pago cuando esta disponible#}
                    <div class="content">
                        <table bgcolor="">
                            <tr>
                                <td align="center">
                                    <!-- Callout Panel -->
                                    <h3><a href="https://www.travelcubagps.com/reserve/show_confirmed_reserves" class="btn">Efectuar Pago </a></h3>

                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
                {#--------------------recomendacines------------------#}
                {% if adjuntos|length > 0 %}
                    <div class="content">
                        <table bgcolor="">
                            <tr>
                                <td>

                                    <!-- Callout Panel -->
                                    <p class="callout">Nuestro equipo quisiera hacerle la recomendaci칩n de los
                                        siguientes
                                        servicios disponibles para la fecha que nos solicita, para que usted escoja su
                                        favorito y as칤 poder hacer sus vacaciones m치s completas 游뗵</p>

                                </td>
                            </tr>
                        </table>
                    </div>
                    {% for r in adjuntos %}
                        <div class="content">
                            <table bgcolor="">
                                <tr>
                                    <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><a href="{{ path('oferta',{'id':r.id,'type':r.getType}) }}"><img
                                                    src="{{ 'https://www.travelcubagps.com/'~r.mainImage.min }}"/></a></td>
                                    <td>
                                        <h4><a href="{{ path('oferta',{'id':r.id,'type':r.getType}) }}">{{ r }}</a>

                                        </h4>
                                        <p class="">{{ r.descripcion }}</p>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- /content -->
                    {% endfor %}
                {% endif %}
                <div class="content">
                    <p class="callout">{{ textoAdicional }}</p>
                </div>
            </td>
            <td></td>
        </tr>
    </table><!-- /BODY -->


{% endblock %}

   {% block footer %}
       {{ parent() }}
   {% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
