{% extends 'emailBase.html.twig' %}

{% block title %}Email de Confirmación{% endblock %}

 {% block stylesheets %}
     {{ parent() }}

 {% endblock %}


{% block body %}
    {{ parent() }}


    <table class="body-wrap" bgcolor="">
        <tr>
            <td></td>
            <td class="container" align="" bgcolor="#FFFFFF">

                <!-- content -->


                {#Cuando toido esta confirmado#}
                {% if rechazos|length == 0 %}
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <h2>Dear {{ user }}</h2>
                                    <p class="lead">Congratulations we inform you that there is availability for services on the dates you have requested.
                                        You have made an excellent choice.
                                        Have a happy stay!
                                    </p>
                                    <!-- A Real Hero (and a real human being) -->
                                    {#<p><img src="http://placehold.it/600x300" /></p><!-- /hero -->#}
                                    <p>Attentively, <a href="#">Cuba GPS Team! &raquo;</a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% for r in reservas %}
                        <div class="content">
                            <table bgcolor="">
                                <tr>
                                    <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><a href="{{ 'https://www.travelcubagps.com/oferta?type='~r.commponent.getType~'&id='~r.commponent.id }}"><img
                                                    src="{{ 'https://www.travelcubagps.com/'~r.commponent.mainImage.min }}"/></a></td>
                                    <td>
                                        <h4><a href="{{ 'https://www.travelcubagps.com/oferta?type='~r.commponent.getType~'&id='~r.commponent.id }}">{{ r.commponent.name }}</a>

                                        </h4>
                                        <p class="">{{ r.commponent.description }}</p>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- /content -->
                    {% endfor %}
                {% elseif  reservas|length == 0 %}
                    {#Cuando no esta cpnfirmado#}
                    <div class="content">
                        <table>
                            <tr>
                                <td>

                                    <h2>Dear {{ user }}</h2>
                                    <p class="lead">Thank you for choosing us. We have reviewed your request and regret to inform you that
                                        It is not available for these dates.
                                        But do not worry, we can offer you other services very similar to the previous one, we hope you like it.
                                    </p>
                                    <!-- A Real Hero (and a real human being) -->
                                    {#<p><img src="http://placehold.it/600x300" /></p><!-- /hero -->#}
                                    <p>Attentively, <a href="#">Cuba GPS Team! &raquo;</a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {#Cuando no esta cpnfirmado#}

                {% else %}
                    {#Cuando hay algunos disponibles y otros no#}
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <h2>Dear {{ user }}:</h2>
                                    <p class="lead">The entire CubaGPS team appreciates your requests for services.
                                        We inform you that the following services are available to you, you have made an excellent choice.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% for r in reservas %}
                        <div class="content">
                            <table bgcolor="">
                                <tr>
                                    <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><a href="{{ 'https://www.travelcubagps.com/oferta?type='~r.commponent.getType~'&id='~r.commponent.id }}"><img
                                                    src="{{ 'https://www.travelcubagps.com/'~r.commponent.mainImage.min }}"/></a></td>
                                    <td>
                                        <h4><a href="{{ 'https://www.travelcubagps.com/oferta?type='~r.commponent.getType~'&id='~r.commponent.id }}">{{ r.commponent.name }}</a>

                                        </h4>
                                        <p class="">{{ r.commponent.description }}</p>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- /content -->
                    {% endfor %}
                    {#Cuando hay algunos disponibles y otros no#}
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <p class="lead">We regret the happiness is not complete, since the following services are not available for the requested dates.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    {% for r in rechazos %}
                        <div class="content">
                            <table bgcolor="">
                                <tr>
                                    <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><a href="{{ 'https://www.travelcubagps.com/oferta?type='~r.commponent.getType~'&id='~r.commponent.id }}"><img
                                                    src="{{ 'https://www.travelcubagps.com/'~r.commponent.mainImage.min }}"/></a></td>
                                    <td>
                                        <h4><a href="{{ 'https://www.travelcubagps.com/oferta?type='~r.commponent.getType~'&id='~r.commponent.id }}">{{ r.commponent.name }}</a>

                                        </h4>
                                        <p class="">{{ r.commponent.description }}</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                    {#Boton de pago cuando esta disponible#}
                {% endif %}
                <p>Important: You will recieve from www.paypal.com an email with a payment request in the name of Lisbeth García with 20% of the total amount of your reservation.</p>
                {#--------------------recomendacines------------------#}
                {% if adjuntos|length > 0 %}
                    <div class="content">
                        <table bgcolor="">
                            <tr>
                                <td>
                                    <!-- Callout Panel -->
                                    <p class="callout">Our team would like to recommend you the following services available for the date you request, so that you can choose your favorite and thus be able to make your vacation more complete 🙂
                                            </p><!-- /callout panel -->

                                </td>
                            </tr>
                        </table>
                    </div>
                    {% for r in adjuntos %}
                        <div class="content">
                            <table bgcolor="">
                                <tr>
                                    <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><a href="{{ 'https://www.travelcubagps.com/oferta?type='~r.commponent.getType~'&id='~r.commponent.id }}"><img
                                                    src="{{ 'https://www.travelcubagps.com/'~r.mainImage.min }}"/></a></td>
                                    <td>
                                        <h4><a href="{{ 'https://www.travelcubagps.com/oferta?type='~r.getType~'&id='~r.commponent.id }}">{{ r.name }}</a>

                                        </h4>
                                        <p class="">{{ r.description }}</p>
                                    </td>
                                </tr>
                            </table>
                        </div><!-- /content -->
                    {% endfor %}
                {% endif %}
                <div class="content">
                    <p class="callout">{{ textoAdicional }}</p>
                </div>
            </td>
            <td></td>
        </tr>
    </table>


{% endblock %}

   {% block footer %}
       {{ parent() }}
   {% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}