{% extends 'emailBase.html.twig' %}

{% block title %}Email de Confirmaci칩n{% endblock %}

 {% block stylesheets %}
     {{ parent() }}

 {% endblock %}


{% block body %}
    {{ parent() }}
    <h2>Nueva solicitud de reserva a nombre de: {{ reserva.usuario }}</h2>
    <h3>{{ reserva.commponent }}</h3>
    <h3>{{ reserva.commponent.getType~': '~reserva.commponent.codigo }}</h3>
    <h3>{{ reserva.habitaciones|join(',') }} </h3>
    <h4>{{ 'Municipio: '~reserva.commponent.municipio }} </h4>
    <h4>{{ 'Provincia: '~reserva.commponent.provincia }} </h4>
    <h4>{{ 'Cantidad de Adultos: '~reserva.cantPersonas }} </h4>
    <h4>{{ 'Cantidad de Ni침os: '~reserva.children }} </h4>
    <h4>{{ 'Fecha: '~reserva.startAt|date }} </h4>
    {% if reserva.commponent.getType=='Casa' %}
        <h4>{{ 'Hasta: '~reserva.startAt|date }} </h4>
        <h4>{{ 'Manager: '~reserva.commponent.manager }} </h4>
        <h4>{{ 'Email: '~reserva.commponent.email }} </h4>
        <h4>{{ 'Telefono Fijo: '~reserva.commponent.tel }} </h4>
        <h4>{{ 'Telefono M칩vil: '~reserva.commponent.cel }} </h4>
    {% elseif reserva.commponent.getType=='Carro' %}
        {% if reserva.type == 'trans' %}
            <h4>{{ 'Desde: '~reserva.desde }} </h4>
            <h4>{{ 'Hasta: '~reserva.hasta }} </h4>
        {% else %}
            <h4>{{ 'Desde: '~reserva.horaInicial }} </h4>
            <h4>{{ 'Hasta: '~reserva.horaFinal }} </h4>
        {% endif %}
        <h4>{{ 'Nombre del Chofer: '~reserva.commponent.nombreChofer }} </h4>
        <h4>{{ 'Email: '~reserva.commponent.email }} </h4>
        <h4>{{ 'Telefono Fijo: '~reserva.commponent.tel }} </h4>
        <h4>{{ 'Telefono M칩vil: '~reserva.commponent.cel }} </h4>
    {% elseif reserva.commponent.getType=='Excursion' %}
        <h4>{{ 'Informacion de contacto: '~reserva.commponent.infoContacto }} </h4>
    {% endif %}
{% endblock %}

   {% block footer %}
       {{ parent() }}
   {% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
