{% extends 'backendBase.html.twig' %}


{% block title %}Administración | Reservas no Confirmadas{% endblock %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Administración</a>
        </li>
        <li class="breadcrumb-item active">Reservas Activas</li>
    </ol>

    {% for user in users %}
        <form action="{{ path('confirm_reserve') }}">
            <input type="hidden" name="user" value="{{ user['user'].id }}">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <img src="{{ asset(user['user'].picture) }}"
                                 class="img-fluid rounded-circle avat"
                                 style=" height: 35px; margin-right: 20px; border-bottom-left-radius: 50%;
                                    border-bottom-right-radius: 50%;width: 35px;" alt="avatar image">
                            {{ user['user'] }}
                            <label style="margin-left: 50px">{{ 'Costo total: €'~user['price']~' ' }}</label>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row" style="margin-left: 15px">
                        <h5>Email: {{ ' '~user['user'].email }}</h5>
                        {% if user['user'].getRedirectedBy %}
                            <h5>{{ '  '~' Redireccionado por:'~' '~ user['user'].getRedirectedBy }}</h5>
                        {% endif %}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Servicio</th>
                                <th>Fecha</th>
                                <th>Cantidad de Personas</th>
                                <th>Costo</th>
                                <th>Disponible</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Servicio</th>
                                <th>Fecha</th>
                                <th>Cantidad de Personas</th>
                                <th>Costo</th>
                                <th>Disponible</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for r in user['reserve'] %}
                                <tr>
                                    <td><a data-toggle="modal" href="#"
                                           data-target="#{{ 'contactInfoModal'~r.id }}">{{ r.commponent }}</a>
                                        {% if r.commponent.getType()== 'Casa' %}
                                            <button id="btnGroupDrop1" type="button"
                                                    class="btn btn-outline-secondary dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-door-open"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                {% for h in r.commponent.habitaciones if h.id in r.habitaciones %}
                                                    <a class="dropdown-item">{{ h }}</a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>{% if r.commponent.getType() == 'Casa' %}
                                            {{ 'Desde '~r.startAt|date("d/m/Y")~' hasta '~r.endAt|date("d/m/Y") }}
                                        {% elseif r.commponent.getType() == 'Carro' %}
                                            {% if r.type=='exc' %}
                                                {{ r.startAt|date("d/m/Y")~' desde '~hora[r.horaInicial]~' hasta '~ hora[r.horaFinal] }}
                                            {% else %}
                                                {{ r.startAt|date("d/m/Y")~' desde '~r.desde~' hasta '~ r.hasta }}
                                            {% endif %}
                                        {% else %}
                                            {{ r.startAt|date("d/m/Y") }}
                                        {% endif %}
                                    </td>
                                    <td>{{ r.cantPersonas }}
                                        {% if r.commponent.getType() == 'Casa' %}
                                            {{ '- '~r.children~' niños' }}
                                        {% endif %}
                                    </td>
                                    <td>{{ '€'~r.costo }}</td>
                                    <td><input type="checkbox" name="{{ r.id }}" {% if r.status == 'confirmed' %} checked {% endif %}></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <button type="submit" class="btn btn-success">Siguiente</button>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <i class="fas fa-home"></i>
                            Reservas no Confirmadas
                        </div>
                        <div class="col-auto">
                            {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
                            {#Agregar#}
                            {#</button>#}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endfor %}
    </div>
    {% for user in users %}
        {% for r in user['reserve'] %}
            <div class="modal fade" id="{{ 'contactInfoModal'~r.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ r.commponent }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% if r.commponent.getType == 'Casa' %}
                                <div class="col">
                                    <div class="row"><strong>Manager:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.manager }}</div>
                                    <div class="row"><strong>Teléfono Móvil:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.cel }}</div>
                                    <div class="row"><strong>Teléfono Fijo:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.tel }}</div>
                                    {% if r.commponent.email != '' %}
                                        <div class="row"><strong>Email:</strong></div>
                                        <div class="row" style="margin-left: 10px">{{ r.commponent.email }}</div>
                                    {% endif %}
                                    <div class="row"><strong>Provincia:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.provincia }}</div>
                                    <div class="row"><strong>Municipio:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.municipio }}</div>
                                    <div class="row"><strong>Dirección:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.direccion }}</div>
                                </div>
                            {% elseif r.commponent.getType == 'Carro' %}
                                <div class="col">
                                    <div class="row"><strong>Chofer:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.nombreChofer }}</div>
                                    <div class="row"><strong>Teléfono Móvil:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.cel }}</div>
                                    <div class="row"><strong>Teléfono Fijo:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.tel }}</div>
                                    <div class="row"><strong>Email:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.email }}</div>
                                    <div class="row"><strong>Chapa:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.chapa }}</div>
                                    <div class="row"><strong>Licencia:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.licencia }}</div>
                                    <div class="row"><strong>Provincia:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.provincia }}</div>
                                </div>
                            {% elseif r.commponent.getType == 'Excursion' %}
                                <div class="col">
                                    <div class="row"><strong>Nombre:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.nombre }}</div>
                                    <div class="row"><strong>Información de Contacto</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.infoContacto }}</div>
                                    <div class="row"><strong>Provincia:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.provincia }}</div>
                                </div>
                            {% else %}
                                <div class="col">
                                    <div class="row"><strong>Nombre:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.nombre }}</div>
                                    <div class="row"><strong>Id:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.id }}</div>
                                    <div class="row"><strong>Dias de Duración:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.duracion }}</div>
                                    <div class="row"><strong>Noches:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.nochesDuracion }}</div>
                                    <div class="row"><strong>Descripción:</strong></div>
                                    <div class="row" style="margin-left: 10px">{{ r.commponent.descripcion }}</div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ parent() }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/js/popper.min.js') }}"></script>
    <script src="{{ asset('build/js/baguetteBox.min.js') }}"></script>


{% endblock %}



