{% extends 'backendBase.html.twig' %}


{% block title %}Administración | Carros{% endblock %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Administración</a>
        </li>
        <li class="breadcrumb-item active">Carros</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">

            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-car"></i>
                    Carros
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">
                        Agregar
                    </button>
                </div>
            </div>
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col" colspan="3">Acciones</th>
                        <th scope="col">Nombre del Chofer</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Description</th>
                        <th scope="col">Valoración</th>
                        <th scope="col">Teléfono fijo</th>
                        <th scope="col">Teléfono móvil</th>
                        <th scope="col">Chapa</th>
                        <th scope="col">Modelo y Año</th>
                        <th scope="col">Color</th>
                        <th scope="col">Tipo de Licencia</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Climatizado</th>
                        <th scope="col">Descapotable</th>
                        <th scope="col">Cantidad de Asientos</th>
                        <th scope="col">Transfer</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Idiomas</th>
                        <th scope="col">Activo</th>

                        <th scope="col">Creado</th>
                        <th scope="col">Última Modificación</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col" colspan="3">Acciones</th>
                        <th scope="col">Nombre del Chofer</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Description</th>
                        <th scope="col">Valoración</th>
                        <th scope="col">Teléfono fijo</th>
                        <th scope="col">Teléfono móvil</th>
                        <th scope="col">Chapa</th>
                        <th scope="col">Modelo y Año</th>
                        <th scope="col">Color</th>
                        <th scope="col">Tipo de Licencia</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Climatizado</th>
                        <th scope="col">Descapotable</th>
                        <th scope="col">Cantidad de Asientos</th>
                        <th scope="col">Transfer</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Idiomas</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Creado</th>
                        <th scope="col">Última Modificación</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {% for c in carros %}
                        <tr {% if c.active == false %} class="table-danger" {% endif %}>
                            <td>{{ c.id }}</td>
                            <td>

                            <a title="Album de Imagenes" class="btn btn-default"
                                   href="{{ path('album',{'id':c.id}) }}"><i
                                            class="fa fa-camera"
                                            {% if c.images|length %}
                                                style="color: green"
                                            {% else %}
                                                style="color: gray"
                                            {% endif %}
                                            aria-hidden="true"></i><span
                                            class="caret"></span></a>
                            </td>
                            <td>
                            <a title="Editar" class="btn btn-default" href="{{ path('edit_car',{'id':c.id}) }}"><i
                                            class="fa fa-edit" aria-hidden="true"></i><span
                                            class="caret"></span></a>
                            </td>
                            <td>
                            <a title="Eliminar" class="btn btn-default" href="{{ path('delete_car',{'id':c.id}) }}"><i
                                            class="fa fa-trash" style="color: red" aria-hidden="true"></i><span
                                            class="caret"></span></a>
                            </td>



                            <td>{{ c.nombreChofer }}</td>

                            <td class="expandable"><p>{{ c.descripcion }}</p></td>
                            <td class="expandable"><p>{{ c.description }}</p></td>
                            <td>
                                {{ c.valoracion }}
                            </td>
                            <td>{{ c.tel }}</td>
                            <td>{{ c.cel }}</td>
                            <td>{{ c.chapa }}</td>
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.color }}</td>
                            <td>{{ c.licencia }}</td>
                            <td>{{ c.provincia }}</td>
                            <td>{{ c.climatizado ? 'si' : 'no' }}</td>
                            <td>{{ c.descapotable ? 'si' : 'no' }}</td>
                            <td>{{ c.capacidad }}</td>
                            <td>{{ c.transfer ? 'si' : 'no' }}</td>
                            <td>{{ c.precio }}</td>
                            <td>
                                <div>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button"
                                                class="btn btn-outline-secondary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Idiomas
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            {% for idioma in c.idiomas %}
                                                <a class="dropdown-item">{{ idioma }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{ c.active ? 'si' : 'no' }}</td>

                            <td>{{ c.createdAt|date }}</td>
                            <td>{{ c.updatedAt|date }}</td>
                        </tr>
                    {% else %}
                        <th colspan="5">No se han insertado carros</th>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-car"></i>
                    Carros
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>

    {#</div>#}
    <!-- Modal Create -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Carro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(createForm) }}
                    {{ form_widget(createForm) }}
                    {{ form_end(createForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit -->
    {% if status == 'edit' %}
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(editForm) }}
                        {{ form_widget(editForm) }}
                        {{ form_end(editForm) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <input type="hidden" value="{{ status }}">

{% endblock %}
{% block script %}
    {{ parent() }}
    <script>
        {% if status == 'edit' %}
        $('#editModal').modal('show')
        {% endif %}
    </script>
{% endblock %}