{% extends 'backendBase.html.twig' %}


{% block title %}Cuba GPS | Excursiones{% endblock %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Administración</a>
        </li>
        <li class="breadcrumb-item active">Excursiones</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-fw fa-map-marked-alt"></i>
                    Excursiones
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col" colspan="3">Acciones</th>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Name</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Description</th>
                        <th scope="col">Info de Contacto</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Dias</th>
                        <th scope="col">Hora de inicio</th>
                        <th scope="col">Duración</th>
                        <th scope="col">Dificultad</th>
                        <th scope="col">Guia</th>
                        <th scope="col">Incluye Transporte</th>
                        <th scope="col">Tipo de Transporte</th>
                        <th scope="col">Desayuno</th>
                        <th scope="col">Almuerzo</th>
                        <th scope="col">Comida</th>
                        <th scope="col">Reglamento</th>
                        <th scope="col">Reglament</th>
                        <th scope="col" colspan="4">Precio para 1, 2, 3 y 4 o más personas</th>
                        <th scope="col">Longitud</th>
                        <th scope="col">Latitud</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Valoración</th>

                        <th scope="col">Creado</th>
                        <th scope="col">Última modificación</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col" colspan="3">Acciones</th>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Name</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Description</th>
                        <th scope="col">Info de Contacto</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Dias</th>
                        <th scope="col">Hora de inicio</th>
                        <th scope="col">Duración</th>
                        <th scope="col">Dificultad</th>
                        <th scope="col">Guia</th>
                        <th scope="col">Incluye Transporte</th>
                        <th scope="col">Tipo de Transporte</th>
                        <th scope="col">Desayuno</th>
                        <th scope="col">Almuerzo</th>
                        <th scope="col">Comida</th>
                        <th scope="col">Reglamento</th>
                        <th scope="col">Reglament</th>
                        <th scope="col" colspan="4">Precio para 1, 2, 3 y 4 o más personas</th>
                        <th scope="col">Longitud</th>
                        <th scope="col">Latitud</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Valoración</th>

                        <th scope="col">Creado</th>
                        <th scope="col">Última modificación</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for c in excursiones %}
                        <tr {% if c.active == false %} class="table-danger" {% endif %}>
                            <td>{{ c.id}}</td>
                            <td><a title="Album de Imagenes" class="btn btn-default"
                                   href="{{ path('album',{'id':c.id}) }}"><i
                                            class="fa fa-camera"
                                            {% if c.images|length %}
                                                style="color: green"
                                            {% else %}
                                                style="color: gray"
                                            {% endif %}
                                            aria-hidden="true"></i><span
                                            class="caret"></span></a>
                            <td><a title="Editar" class="btn btn-default"
                                   href="{{ path('excursiones',{'id':c.id,'status':'edit'}) }}"><i
                                            class="fa fa-edit" aria-hidden="true"></i><span
                                            class="caret"></span></a></td>
                            <td><a title="Eliminar" class="btn btn-default"
                                   href="{{ path('delete_excursion',{'id':c.id}) }}"><i
                                            class="fa fa-trash" style="color: red" aria-hidden="true"></i><span
                                            class="caret"></span></a></td>
                            <td>{{ c.codigo }}</td>
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.name }}</td>
                            <td class="expandable"><p>{{ c.descripcion }}</p></td>
                            <td class="expandable"><p>{{ c.description }}</p></td>
                            <td>{{ c.infoContacto }}</td>
                            <td>{{ c.provincia }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button"
                                            class="btn btn-outline-secondary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Días
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        {% for dia in c.diasDisponibles %}
                                            <a class="dropdown-item">{{ dia }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                            <td>{{ c.horaInicio }}</td>
                            <td>{{ c.tiempoDuracion }}</td>
                            <td>{{ dificultad[c.dificultad][0] }}</td>
                            <td>{{ c.guia? 'si':'no' }}</td>
                            <td>{{ c.incluyeTransporte? 'si':'no' }}</td>
                            <td>{{ c.tipoTransporte }}</td>
                            <td>{{ c.desayuno?'si':'no' }}</td>
                            <td>{{ c.almuerzo?'si':'no' }}</td>
                            <td>{{ c.comida?'si':'no' }}</td>
                            <td class="expandable"><p>{{ c.reglamento }}</p></td>
                            <td class="expandable"><p>{{ c.reglament }}</p></td>
                            <td>{{ c.precio1 }}</td>
                            <td>{{ c.precio2 }}</td>
                            <td>{{ c.precio3 }}</td>
                            <td>{{ c.precio4 }}</td>
                            <td>{{ c.longitud }}</td>
                            <td>{{ c.latitud }}</td>
                            <td>{{ c.active? 'si':'no' }}</td>
                            <td>{{ c.valoracion }}</td>

                            <td>{{ c.createdAt|date }}</td>
                            <td>{{ c.updatedAt|date }}</td>

                        </tr>
                    {% else %}
                        <th colspan="5">No se han insertado excursiones</th>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-fw fa-map-marked-alt"></i>
                    Excursiones
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">
                        Agregar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Create -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Excursión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" value="{{ status }}">

{% endblock %}
{% block script %}
    {{ parent() }}
    <script>
        {% if status == 'edit' %}
        $('#createModal').modal('show')
        {% endif %}
    </script>
{% endblock %}