{% extends 'backendBase.html.twig' %}


{% block title %}Administración | Casas{% endblock %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Administración</a>
        </li>
        <li class="breadcrumb-item active">Casas</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">

            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-home"></i>
                    Casas
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">
                        Agregar
                    </button>
                </div>
            </div>

            {#<i class="fas fa-car"></i>#}
            {#Carros#}


            {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
            {#Agregar#}
            {#</button>#}
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">Creado</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Manager</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Provincia</th>
                        <th scope="col" colspan="2">Teléfono \n fijo \t móvil</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tipo de Establecimiento</th>
                        <th scope="col">Desayuno</th>
                        <th scope="col">Almuerzo</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Servicios</th>
                        <th scope="col">Valoración</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Habitaciones</th>
                        <th scope="col">Album</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Última modificación</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th scope="col">Creado</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Manager</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Provincia</th>
                        <th scope="col" colspan="2">Teléfono \n fijo \t móvil</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tipo de Establecimiento</th>
                        <th scope="col">Desayuno</th>
                        <th scope="col">Almuerzo</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Servicios</th>
                        <th scope="col">Valoración</th>
                        <th scope="col">Activo</th>
                        <th scope="col">Habitaciones</th>
                        <th scope="col">Album</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                        <th scope="col">Última modificación</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for c in casas %}
                    <tr {% if c.active == false %} class="table-danger" {% endif %}>
                        <td>{{ c.createdAt|date }}</td>
                        <td>{{ c.nombre }}</td>
                        <td>{{ c.manager }}</td>
                        <td>{{ c.direccion }}</td>
                        <td>{{ c.municipio }}</td>
                        <td>{{ c.provincia }}</td>
                        <td>{{ c.tel }}</td>
                        <td>{{ c.cel }}</td>
                        <td>{{ c.email }}</td>
                        <td>{{ c.tipoEstablecimiento }}</td>
                        <td>{{ c.desayuno ? 'si' : 'no' }}</td>
                        <td>{{ c.almuerzo ? 'si' : 'no' }}</td>
                        <td>{{ c.cena ? 'si' : 'no' }}</td>
                        <td>
                            <div>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button"
                                            class="btn btn-outline-secondary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Servicios
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        {% for servicio in c.servicios %}
                                            <a class="dropdown-item">{{ servicio }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ c.valoracion }}</td>
                        <td>{{ c.active?'si':'no' }}</td>
                        <td>
                            <a href="{{ path('habitaciones',{'id':c.id,'status':'create'}) }}"
                               title="Habitaciones" class="btn btn-default">{{ c.habitaciones|length }}<i
                                        class="fa fa-plus"
                                        {% if c.habitaciones|length %}
                                            style="color: saddlebrown"
                                        {% else %}
                                            style="color: gray"
                                        {% endif %}
                                        aria-hidden="true"></i><span
                                        class="caret"></span></a>
                        </td>
                        <td><a title="Album de Imagenes" class="btn btn-default"
                               href="{{ path('album',{'id':c.id}) }}"><i
                                        class="fa fa-camera"
                                        {% if c.images|length %}
                                            style="color: green"
                                        {% else %}
                                            style="color: gray"
                                        {% endif %}
                                        aria-hidden="true"></i><span
                                        class="caret"></span></a></td>

                        <td><a title="Editar" class="btn btn-default" href="{{ path('edit_house',{'id':c.id}) }}"><i
                                        class="fa fa-edit" aria-hidden="true"></i><span
                                        class="caret"></span></a></td>
                        <td><a title="Eliminar" class="btn btn-default"
                               href="{{ path('delete_house',{'id':c.id}) }}"><i
                                        class="fa fa-trash" style="color: red" aria-hidden="true"></i><span
                                        class="caret"></span></a></td>
                        <td>{{ c.updatedAt|date }}</td>
                        {% else %}
                            <th colspan="5">No se han insertado habitaciones para esta casa</th>
                        {% endfor %}

                    </tr>
                    </tbody>
                </table>
                {#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">#}
                {#Agregar#}
                {#</button>#}

            </div>
        </div>

        <div class="card-footer">

            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-home"></i>
                    Casas
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">
                        Agregar
                    </button>
                </div>
            </div>

            {#<i class="fas fa-car"></i>#}
            {#Carros#}


            {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
            {#Agregar#}
            {#</button>#}
        </div>

    </div>


    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nueva Casa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(createForm) }}
                    {{ form_widget(createForm) }}
                    {{ form_end(createForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit -->
    {% if status == 'edit' %}
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Casas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(editForm) }}
                        {{ form_widget(editForm) }}
                        {{ form_end(editForm) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <input type="hidden" value="{{ status }}">


{% endblock %}

{% block script %}

    {{ parent() }}

    <script>
        {% if status == 'edit' %}
        $('#editModal').modal('show')
        {% endif %}
    </script>
{% endblock %}
