{% extends 'backendBase.html.twig' %}


{% block title %}Administración | Paquetes{% endblock %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Administración</a>
        </li>
        <li class="breadcrumb-item active">Paquetes</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">

            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fab fa-grav"></i>
                    Paquetes
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">
                        Agregar
                    </button>
                </div>
            </div>

            {#<i class="fas fa-car"></i>#}
            {#Carros#}


            {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
            {#Agregar#}
            {#</button>#}
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Actividades</th>
                        <th scope="col" colspan="3">Acciones</th>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Name</th>
                        <th scope="col">Dias</th>
                        <th scope="col">Noches</th>
                        <th scope="col" colspan="4">Precio para 1, 2, 3 y 4 o más personas</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Description</th>
                        <th scope="col">Incluye</th>
                        <th scope="col">Included</th>
                        <th scope="col">No incluye</th>
                        <th scope="col">Not included</th>
                        <th scope="col">Valoración</th>
                        <th scope="col">Activo</th>


                        <th scope="col">Creado</th>
                        <th scope="col">Última modificación</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Actividades</th>
                        <th scope="col" colspan="3">Acciones</th>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Name</th>
                        <th scope="col">Dias</th>
                        <th scope="col">Noches</th>
                        <th scope="col" colspan="4">Precio para 1, 2, 3 y 4 o más personas</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Description</th>
                        <th scope="col">Incluye</th>
                        <th scope="col">Included</th>
                        <th scope="col">No incluye</th>
                        <th scope="col">Not included</th>
                        <th scope="col">Valoración</th>
                        <th scope="col">Activo</th>

                        <th scope="col">Creado</th>
                        <th scope="col">Última modificación</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    {% for c in paquetes %}
                        <tr {% if c.active == false %} class="table-danger" {% endif %}>
                            <td>{{ c.id }}</td>
                            <td><a title="Actividades" class="btn btn-default"
                                   href="{{ path('activities',{'id':c.id}) }}"><i
                                            class="fa fa-calendar"
                                            {% if c.dias|length %}
                                                style="color: purple"
                                            {% else %}
                                                style="color: gray"
                                            {% endif %}
                                            aria-hidden="true"></i><span
                                            class="caret"></span></a></td>
                            <td><a title="Album de Imagenes" class="btn btn-default"
                                   href="{{ path('album',{'id':c.id}) }}"><i
                                            class="fa fa-camera"
                                            {% if c.images|length %}
                                                style="color: green"
                                            {% else %}
                                                style="color: gray"
                                            {% endif %}
                                            aria-hidden="true"></i><span
                                            class="caret"></span></a></td>
                            <td><a title="Editar" class="btn btn-default" href="{{ path('edit_paquete',{'id':c.id}) }}"><i
                                            class="fa fa-edit" aria-hidden="true"></i><span
                                            class="caret"></span></a></td>
                            <td><a title="Eliminar" class="btn btn-default"
                                   href="{{ path('delete_paquete',{'id':c.id}) }}"><i
                                            class="fa fa-trash" style="color: red" aria-hidden="true"></i><span
                                            class="caret"></span></a></td>
                            <td>{{ c.codigo }}</td>
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.name }}</td>
                            <td>{{ c.duracion }}</td>
                            <td>{{ c.nochesDuracion }}</td>
                            <td>{{ c.precio1 }}</td>
                            <td>{{ c.precio2 }}</td>
                            <td>{{ c.precio3 }}</td>
                            <td>{{ c.precio4 }}</td>
                            <td class="expandable"><p>{{ c.descripcion }}</p></td>
                            <td class="expandable"><p>{{ c.description }}</p></td>
                            <td class="expandable"><p>{{ c.incluye }}</p></td>
                            <td class="expandable"><p>{{ c.included }}</p></td>
                            <td class="expandable"><p>{{ c.noIncluye }}</p></td>
                            <td class="expandable"><p>{{ c.notIncluded }}</p></td>
                            <td>{{ c.valoracion }}</td>
                            <td>{{ c.active ? 'si' : 'no' }}</td>

                            <td>{{ c.createdAt|date }}</td>
                            <td>{{ c.updatedAt|date }}</td>
                        </tr>
                    {% else %}
                        <th colspan="5">No se han insertado paquetes</th>
                    {% endfor %}
                    </tbody>
                </table>


            </div>

        </div>

        <div class="card-footer">

            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fab fa-grav"></i>
                    Paquetes
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">
                        Agregar
                    </button>
                </div>
            </div>

            {#<i class="fas fa-car"></i>#}
            {#Carros#}


            {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
            {#Agregar#}
            {#</button>#}
        </div>
    </div>


    <!-- Modal Create -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Paquete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(createForm) }}
                    {{ form_widget(createForm) }}
                    {{ form_end(createForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit -->
    {% if status == 'edit' %}
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Paquete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(editForm) }}
                        {{ form_widget(editForm) }}
                        {{ form_end(editForm) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <input type="hidden" value="{{ status }}">

{% endblock %}

        {% block script %}

            {{ parent() }}

            <script>
                {% if status == 'edit' %}
                $('#editModal').modal('show')
                {% endif %}
            </script>
        {% endblock %}