{% extends 'backendBase.html.twig' %}


{% block title %}Administración | Reservas no Confirmadas{% endblock %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Administración</a>
        </li>
        <li class="breadcrumb-item active">Reservas no Confirmadas</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">

            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-home"></i>
                    Reservas no Confirmadas
                </div>
                <div class="col-auto">
                    {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
                        {#Agregar#}
                    {#</button>#}
                </div>
            </div>

        </div>

        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Enviado por</th>
                        <th>Servicios</th>
                        <th>Cant de servicios</th>
                        <th>Cant de personas</th>
                        <th>Email</th>
                        <th>Provincia</th>
                        <th>Precio de cada servicio</th>
                        <th>Precio Total</th>
                        <th>Télefonos por servicios</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>estado</th>
                        <th>Más</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Enviado por</th>
                        <th>Servicios</th>
                        <th>Cant de servicios</th>
                        <th>Cant de personas</th>
                        <th>Email</th>
                        <th>Provincia</th>
                        <th>Precio de cada servicio</th>
                        <th>Precio Total</th>
                        <th>Télefonos por servicios</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>estado</th>
                        <th>Más</th>

                    </tr>
                    </tfoot>
                    <tbody>

                    <tr>
                        <td>4</td>
                        <td>Reyner Baily</td>
                        <td>Marcos Alvarez</td>
                        <td>Casa</td>
                        <td>3</td>
                        <td>10</td>
                        <td>ricardocorazondeleon2018@gmail.com</td>
                        <td>La Habana</td>
                        <td>$23 $34 $56</td>
                        <td>$1500</td>
                        <td>Maria 54209491 Carro 52225857</td>
                        <td>2018-01-16</td>
                        <td>2018-01-25</td>
                        <td>Not Conform</td>

                        <td><a href="roombook.php?rid=4 " class="btn btn-primary">Action</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Manuel Arrieta</td>
                        <td>Marcos Alvarez</td>
                        <td>Excurcion</td>
                        <td>2</td>
                        <td>11</td>
                        <td>zondeleon2018@gmail.com</td>
                        <td>Matanzas</td>
                        <td>$23 $34 </td>
                        <td>$1100</td>
                        <td>Maria 54209491 Carro 52225857</td>
                        <td>2018-01-16</td>
                        <td>2018-01-25</td>
                        <td>Not Conform</td>

                        <td><a href="roombook.php?rid=4 " class="btn btn-primary">Action</a></td>
                    </tr>

                    </tbody>
                </table>

            </div>


        </div>

        <div class="card-footer">

            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-home"></i>
                    Reservas no Confirmadas
                </div>
                <div class="col-auto">
                    {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
                        {#Agregar#}
                    {#</button>#}
                </div>
            </div>

        </div>

        </form>


    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/js/popper.min.js')}}"></script>

    <script src="{{ asset('build/js/baguetteBox.min.js') }}"></script>


{% endblock %}



