{% extends 'backendBase.html.twig' %}


{% block title %}Administración | Casas{% endblock %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Administración</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('album',{'id':owner.id}) }}">Album</a>
        </li>
        <li class="breadcrumb-item active">Album de Imagenes</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">

            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-images"></i>
                    {{ 'Album de: '~type }}
                </div>
                {% if main == 'true' %}
                    <a href="{{ path('uploadedImages',{'ownerId':owner.id,'type':type,'main':'false'}) }}"
                       class="btn btn-default">Mostrar Todas</a>
                {% else %}
                    <a href="{{ path('uploadedImages',{'ownerId':owner.id,'type':type,'main':'true'}) }}"
                       class="btn btn-default">Solo las Principales</a>
                {% endif %}
                <div class="col-auto">
                    <button onclick="submitForm()" class="btn btn-default">Guardar</button>
                </div>
            </div>

            {#<i class="fas fa-car"></i>#}
            {#Carros#}


            {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
            {#Agregar#}
            {#</button>#}
        </div>

        <table>
            <form id="form" action="{{ path('saveUploads') }}">
                <input type="hidden" name="images" value="">
                <input type="hidden" name="ownerId" value="{{ owner.id }}">
                {% for row in images|batch(4,'vacio') %}
                    <tr>
                        {% for col in row %}
                            {% if col == 'vacio' %}
                                <td></td>
                            {% else %}
                                <td name="imageId" data-value="{{ col.id }}">
                                    <img style="max-width: 270px;" src="{{ asset(col.half) }}" class="img-thumbnail"
                                         alt="Responsive image">
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </form>
        </table>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-images"></i>
                    {{ 'Album de: '~type }}
                </div>
                <div class="col-auto">
                    <button onclick="submitForm()" class="btn btn-default">Guardar</button>
                </div>
            </div>

            {#<i class="fas fa-car"></i>#}
            {#Carros#}


            {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
            {#Agregar#}
            {#</button>#}
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('table td').click(function () {
                if (!$(this).attr('checked')) {
                    $(this).addClass('bg-primary');
                    $(this).attr('checked', true);
                }
                else {
                    $(this).removeClass('bg-primary');
                    $(this).attr('checked', false);
                }
            })
        })
        function submitForm() {
            var values = new Array();
            $('table td[checked="checked"]').each(function () {
                values.push($(this).data('value'));
            })
            $('[name="images"]').val(values);
            $('#form').submit();
        }
    </script>
{% endblock %}




