<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Travel Cuba GPS">
    <meta name=”google” content=”nositelinkssearchbox”>
    <meta name=”generator” content="Symfony 4.0">


    <title>
        Travel {% block title %} Cuba GPS | {{ app.session.get('language') == 'es'? 'Oficial':'Official' }}{% endblock %}</title>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg .tg-oz38 {
            font-weight: bold;
            font-size: 20px;
            font-family: Tahoma, Geneva, sans-serif !important;;
            border-color: inherit;
            text-align: center
        }

        .tg .tg-c3ow {
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-lqy6 {
            text-align: right;
            vertical-align: top
        }

        .tg .tg-3mbc {
            font-weight: bold;
            font-size: 16px;
            border-color: inherit;
            text-align: right;
            vertical-align: top
        }

        .tg .tg-i12u {
            font-weight: bold;
            font-size: 16px;
            border-color: inherit;
            text-align: left
        }

        .tg .tg-dbtv {
            font-weight: bold;
            font-size: 16px;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-xldj {
            border-color: inherit;
            text-align: left
        }

        .tg .tg-dvpl {
            border-color: inherit;
            text-align: right;
            vertical-align: top
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }
    </style>

</head>


<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <center>


                <div>

                    <img src="{{ asset('build/img/logooficial.png') }}"
                         width="200" height="100"
                         class="d-inline-block align-top" alt="logo cubagps">

                </div>

                <br>
                <br>


                <table class="tg">
                    <tr>
                        <th class="tg-oz38"
                            colspan="5">{{ user.idioma=='es'? 'Factura de servicios Cuba GPS': 'Cuba GPS Utility bill' }}
                            <br></th>
                    </tr>
                    <tr>
                        <td class="tg-i12u">{{ user.idioma=='es'? 'Nombre': 'Firstname' }}<br></td>
                        <td class="tg-i12u">{{ user.idioma=='es'? 'Apellidos': 'Lastname' }}</td>
                        <td class="tg-dbtv">{{ user.idioma=='es'? 'Fecha': 'Date' }}<br></td>
                        <td class="tg-3mbc" colspan="2">Folio</td>
                    </tr>
                    <tr>
                        <td class="tg-xldj">{{ user.firstname }}</td>
                        <td class="tg-xldj">{{ user.lastname }}</td>
                        <td class="tg-c3ow">{{ reservas[0].payedAt |date("d/m/Y") }}</td>
                        <td class="tg-dvpl" colspan="2">{{ folio }}</td>
                    </tr>
                    <tr>
                        <td class="tg-i12u">{{ user.idioma=='es'? 'Servicios': 'Services' }}</td>
                        <td class="tg-i12u">{{ user.idioma=='es'? 'Fecha': 'Date' }}</td>
                        <td class="tg-dbtv">{{ user.idioma=='es'? 'Cantidad de Personas': 'Amount of People' }}</td>
                        <td class="tg-3mbc" colspan="2">{{ user.idioma=='es'? 'Precio': 'Price' }}</td>
                    </tr>
                    {% for r in reservas %}
                        <tr>
                            <td class="tg-0pky">{{ user.idioma == 'es' ? r.commponent.nombre:r.commponent.name }}</td>
                            {% if r.type == 'esp' or r.commponent.getType == 'Casa' or r.commponent.getType == 'Paquete' %}
                                <td class="tg-0pky">{{ r.startAt|date("d/m/Y") ~ '~' ~ r.endAt|date("d/m/Y") }}</td>
                            {% else %}
                                <td class="tg-0pky">{{ r.startAt|date("d/m/Y") }}</td>
                            {% endif %}
                            <td class="tg-c3ow">{{ r.cantPersonas }}</td>
                            <td class="tg-dvpl" colspan="2">{{ '$'~r.costo }}</td>
                        </tr>
                        <tr>
                            <td class="tg-0lax"
                                colspan="3">{{ user.idioma == 'es' ? 'Precio/Persona':'Price/Person' }}</td>
                            <td class="tg-lqy6" colspan="2">{{ r.costo/r.cantPersonas }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="tg-dbtv">Total <br></td>
                        <td class="tg-dvpl" colspan="4">{{ '$'~price }}</td>
                    </tr>
                </table>


                <br>
                <br>


                <div>

                    <div>
                        <img src="{{ asset('build/img/logooficial.png') }}"
                             width="200" height="100"
                             class="d-inline-block align-top" alt="logo cubagps">
                    </div>
                    <div>
                        <a href="https://www.travelcubagps.com">www.travelcubagps.com</a>
                        <a href="https://www.facebook.com/cubagps/">Facebook/cubagps</a>
                        <a href="https://www.instagram.com/cubagps/">instagram/@cubagps</a>
                        <div>
                            <p>Mail/contact@travelcubagps.com</p>
                            <p>Phone/+53 53969643</p>
                        </div>
                    </div>

                </div>
            </center>
        </div>
    </div>

</div>

</body>


<footer>


</footer>


</html>