{% extends 'base.html.twig' %}

{% block title %}Cuba GPS | {{ app.session.get('language') == 'es'? 'Oficial':'Official' }}{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset('build/css/resCarousel.css') }}" rel="stylesheet">

{% endblock %}

{% block menubase %}
    {{ parent() }}
{% endblock %}

{% block menu %}

{% endblock %}

{% block body %}
    <header class="masthead" style="margin-top: -6%;height: 100%;background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{{ app.session.get('language') == 'es'? 'Bienvenido':'Welcome' }}</div>
                <div class="intro-heading text-uppercase">{{ app.session.get('language') == 'es'? 'Le invitamos a descubrir Cuba':'We invite you to discover Cuba' }}</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="background-color: #f9b501;
border-color: #f9b501;"
                   href="#">{{ app.session.get('language') == 'es'? 'Saber más':'Know more' }}</a>
            </div>
        </div>
    </header>
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">{{ app.session.get('language') == 'es'? 'Ofertas':'Offers' }}</h2>
                    <h3 class="section-subheading text-muted">{{ app.session.get('language') == 'es'? 'Cuba al alcance de tu mano':'Cuba at your fingertips' }}</h3>
                </div>
            </div>
            <div class="row">
                {################Seccion de Casas#####################################################}
                <div class="col-lg-12 text-center">
                    <h2 id="casas"
                        class="section-heading text-uppercase">{{ app.session.get('language') == 'es'? 'Casas':'Houses' }}</h2>

                </div>
                <div class="col-md-12 ">
                    <div class="resCarousel" data-items="1-2-3-3" data-slide="3" data-speed="900" data-animator="lazy">
                        <div class="resCarousel-inner">
                            {% for i in casas %}
                                <div class="item">
                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        {#primer oferta///////////////////////////////////////////////////////////////////////#}
                                        <a class="portfolio-link" href="{{ path('oferta',{'id':i.id,'type':'casa'}) }}">
                                            <div id="{{ 'carouselcasa'~loop.index }}" class="carousel slide"
                                                 data-ride="carousel "
                                                 data-interval="false">
                                                <div class="carousel-inner">
                                                    {% for image in i.images %}
                                                        <div {% if loop.index==1 %}class="carousel-item active"
                                                             {% else %}class="carousel-item"{% endif %}>
                                                            <img class="img-fluid fotosOferta"
                                                                 src="{{ asset(image.half) }}"
                                                                 alt="{{ image.altName }}">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <a class="carousel-control-prev" href="{{ '#carouselcasa'~loop.index }}"
                                                   role="button"
                                                   data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="{{ '#carouselcasa'~loop.index }}"
                                                   role="button"
                                                   data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </a>
                                        <div class=" infoOferta text-left">
                                            <a class="nav-item nombreO"
                                               href="{{ path('oferta',{'id':i.id,'type':'casa'}) }}">
                                                <h4>{{ i.nombre }}</h4></a>
                                            <h4>{{ i.municipio~', '~i.provincia }}</h4></a>
                                            {% if i.valoracionArray[0]!=0 %}
                                                {% for j in 1..i.valoracionArray[0] %}
                                                    <i class="fas fa-star star"></i>
                                                {% endfor %}
                                            {% endif %}
                                            {% if i.valoracionArray[1] %}
                                                <i class="fas fa-star-half-alt star"></i>
                                            {% endif %}
                                            {% if i.valoracionArray[2]!=0 %}
                                                {% for j in 1..i.valoracionArray[2] %}
                                                    <i class="far fa-star star"></i>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="timeline-body">
                                                <h6 class="text-muted">
                                                    {{ '€ '~i.precio }}{{ app.session.get('language') == 'es'? ' por noche':' per night' }}  </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class='btn btn-default leftRs'><i class="fa fa-fw fa-angle-left"></i></button>
                    <button class='btn btn-default rightRs'><i class="fa fa-fw fa-angle-right"></i></button>

                </div>
                {#boton de ver mas#}
                <div class="container">
                    <div class="row text-center ">
                        <div class="col-12 botonMas portfolio-item md-auto">
                            <a class="btn btn-primary btn-sm text-uppercase " style="background-color: #f9b501;
border-color: #f9b501;"
                               href="{{ path('lista',{'type':'casa'}) }}">{{ app.session.get('language') == 'es'? 'Mostrar todo (1500)>':'Show all (1500)' }}</a>

                        </div>
                    </div>
                </div>

                {#boton de ver mas#}

                {################Seccion de Hoteles#####################################################}
                <div class="col-lg-12 text-center">
                    <h2 id="hoteles"
                        class="section-heading text-uppercase">{{ app.session.get('language') == 'es'? 'Hoteles':'Hotels' }}</h2>

                </div>
                <div class="col-md-12 ">
                    <div class="resCarousel" data-items="1-2-3-3" data-slide="3" data-speed="900" data-animator="lazy">
                        <div class="resCarousel-inner">
                            {% for i in casas %}
                                <div class="item">
                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        {#primer oferta///////////////////////////////////////////////////////////////////////#}
                                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                            <div id="{{ 'carouselcasa'~loop.index }}" class="carousel slide"
                                                 data-ride="carousel "
                                                 data-interval="false">
                                                <div class="carousel-inner">
                                                    {% for image in i.images %}
                                                        <div {% if loop.index==1 %}class="carousel-item active"
                                                             {% else %}class="carousel-item"{% endif %}>
                                                            <img class="img-fluid fotosOferta"
                                                                 src="{{ asset(image.half) }}"
                                                                 alt="{{ image.altName }}">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <a class="carousel-control-prev" href="{{ '#carouselcasa'~loop.index }}"
                                                   role="button"
                                                   data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="{{ '#carouselcasa'~loop.index }}"
                                                   role="button"
                                                   data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </a>
                                        <div class=" infoOferta text-left">
                                            <a class="nav-item nombreO" href="">
                                                <h4>{{ i.nombre }}</h4></a>
                                            <h4>{{ i.municipio~', '~i.provincia }}</h4></a>
                                            {% if i.valoracionArray[0]!=0 %}
                                                {% for j in 1..i.valoracionArray[0] %}
                                                    <i class="fas fa-star star"></i>
                                                {% endfor %}
                                            {% endif %}
                                            {% if i.valoracionArray[1] %}
                                                <i class="fas fa-star-half-alt star"></i>
                                            {% endif %}
                                            {% if i.valoracionArray[2]!=0 %}
                                                {% for j in 1..i.valoracionArray[2] %}
                                                    <i class="far fa-star star"></i>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="timeline-body">
                                                <p class="text-muted">{{ i.municipio~', '~i.provincia }}</p>
                                                <h6 class="text-muted">
                                                    56$ {{ app.session.get('language') == 'es'? 'por noche':'per night' }}  </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class='btn btn-default leftRs'><i class="fa fa-fw fa-angle-left"></i></button>
                    <button class='btn btn-default rightRs'><i class="fa fa-fw fa-angle-right"></i></button>
                </div>
            </div>
            <div class="container">
                <div class="row text-center ">
                    <div class="col-12 botonMas portfolio-item md-auto">
                        <a class="btn btn-primary btn-sm text-uppercase " style="background-color: #f9b501;
border-color: #f9b501;"
                           href="#services">{{ app.session.get('language') == 'es'? 'Mostrar todo (2000)>':'Show all (2000)' }}</a>
                    </div>
                </div>
            </div>
            {################Seccion de Paquetes#####################################################}
            <div class="col-lg-12 text-center">
                <h2 id="paquetes"
                    class="section-heading text-uppercase">{{ app.session.get('language') == 'es'? 'Paquetes':'Packages' }}</h2>
            </div>
            <div class="col-md-12 ">
                <div class="resCarousel" data-items="1-2-3-3" data-slide="3" data-speed="900" data-animator="lazy">
                    <div class="resCarousel-inner">
                        {% for i in paquetes %}
                            <div class="item">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    <a class="portfolio-link" href="{{ path('oferta',{'id':i.id,'type':'paquete'}) }}">
                                        <div id="{{ 'carouselpaquete'~loop.index }}" class="carousel slide"
                                             data-ride="carousel "
                                             data-interval="false">
                                            <div class="carousel-inner">
                                                {% for image in i.images %}
                                                    <div {% if loop.index==1 %}class="carousel-item active"
                                                         {% else %}class="carousel-item"{% endif %}>
                                                        <img class="img-fluid fotosOferta"
                                                             src="{{ asset(image.half) }}"
                                                             alt="{{ image.altName }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="carousel-control-prev" href="{{ '#carouselpaquete'~loop.index }}"
                                               role="button"
                                               data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="{{ '#carouselpaquete'~loop.index }}"
                                               role="button"
                                               data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>

                                    </a>
                                    <div class=" infoOferta text-left">
                                        <a class="nav-item nombreO"
                                           href="{{ path('oferta',{'id':i.id,'type':'paquete'}) }}">
                                            <h4>{{ app.session.get('language') == 'es'?
                                                i.nombre:
                                                i.name }}</h4></a>
                                        <div class="serviciosOfertas" style="margin-right: 10px">
                                            <div class="iconogeneral">

                                                <div class="iconoServ">
                                                    <h6>
                                                        <span><i class="far fa-sun"></i></span>
                                                        {#Cantidad de dias#}
                                                        {{ i.diasDuracion }}{{ app.session.get('language') == 'es'? ' Días ':' Days' }}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="serviciosOfertas" style="margin-right: 10px">
                                            <div class="iconogeneral">

                                                <div class="iconoServ">
                                                    <h6>
                                                        <span><i class="far fa-moon"></i></span>
                                                        {#Cantidad de noches#}
                                                        {{ i.nochesDuracion }}{{ app.session.get('language') == 'es'? ' Noches ':' Nights' }}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timeline-body">
                                            {% if i.valoracionArray[0]!=0 %}
                                                {% for j in 1..i.valoracionArray[0] %}
                                                    <i class="fas fa-star star"></i>
                                                {% endfor %}
                                            {% endif %}
                                            {% if i.valoracionArray[1] %}
                                                <i class="fas fa-star-half-alt star"></i>
                                            {% endif %}
                                            {% if i.valoracionArray[2]!=0 %}
                                                {% for j in 1..i.valoracionArray[2] %}
                                                    <i class="far fa-star star"></i>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="timeline-body">
                                            <h6 class="text-muted">
                                                {{ '€ '~i.precio1 }}</h6>
                                            <h6>
                                                {{ app.session.get('language') == 'es'?
                                                i.descripcion:
                                                i.description }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button class='btn btn-default leftRs'><i class="fa fa-fw fa-angle-left"></i></button>
                <button class='btn btn-default rightRs'><i class="fa fa-fw fa-angle-right"></i></button>
            </div>
            <div class="container">
                <div class="row text-center ">
                    <div class="col-12 botonMas portfolio-item md-auto">
                        <a class="btn btn-primary btn-sm text-uppercase " style="background-color: #f9b501;
border-color: #f9b501;"
                           href="{{ path('lista',{'type':'paquete'}) }}">{{ app.session.get('language') == 'es'? 'Mostrar todo (1000)>':'Show all (1000)' }}</a>
                    </div>
                </div>
            </div>
            {################Seccion de Carros#####################################################}
            <div class="col-lg-12 text-center">
                <h2 id="carros"
                    class="section-heading text-uppercase">{{ app.session.get('language') == 'es'? 'Carros':'Cars' }}</h2>

            </div>
            <div class="col-md-12 ">
                <div class="resCarousel" data-items="1-2-3-3" data-slide="3" data-speed="900" data-animator="lazy">
                    <div class="resCarousel-inner">
                        {% for i in carros %}
                            <div class="item">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    {#primer oferta///////////////////////////////////////////////////////////////////////#}
                                    <a class="portfolio-link" href="{{ path('oferta',{'id':i.id,'type':'carro'}) }}">
                                        <div id="{{ 'carouselcarro'~loop.index }}" class="carousel slide"
                                             data-ride="carousel "
                                             data-interval="false">
                                            <div class="carousel-inner">
                                                {% for image in i.images %}
                                                    <div {% if loop.index==1 %}class="carousel-item active"
                                                         {% else %}class="carousel-item"{% endif %}>
                                                        <img class="img-fluid fotosOferta"
                                                             src="{{ asset(image.half) }}"
                                                             alt="{{ image.altName }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="carousel-control-prev" href="{{ '#carouselcarro'~loop.index }}"
                                               role="button"
                                               data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="{{ '#carouselcarro'~loop.index }}"
                                               role="button"
                                               data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>

                                    </a>
                                    <div class=" infoOferta text-left">
                                        <a class="nav-item nombreO"
                                           href="{{ path('oferta',{'id':i.id,'type':'carro'}) }}">
                                            <h4>{{ i.modelo }}</h4></a>
                                        {% if i.valoracionArray[0]!=0 %}
                                            {% for j in 1..i.valoracionArray[0] %}
                                                <i class="fas fa-star star"></i>
                                            {% endfor %}
                                        {% endif %}
                                        {% if i.valoracionArray[1] %}
                                            <i class="fas fa-star-half-alt star"></i>
                                        {% endif %}
                                        {% if i.valoracionArray[2]!=0 %}
                                            {% for j in 1..i.valoracionArray[2] %}
                                                <i class="far fa-star star"></i>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="timeline-body">

                                            <h6 class="text-muted">
                                                {{ app.session.get('language') == 'es'? i.descripcion:i.description }}  </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button class='btn btn-default leftRs'><i class="fa fa-fw fa-angle-left"></i></button>
                <button class='btn btn-default rightRs'><i class="fa fa-fw fa-angle-right"></i></button>
            </div>
            <div class="container">
                <div class="row text-center ">
                    <div class="col-12 botonMas portfolio-item md-auto">
                        <a class="btn btn-primary btn-sm text-uppercase " style="background-color: #f9b501;
border-color: #f9b501;"
                           href="{{ path('lista',{'type':'carro'}) }}">{{ app.session.get('language') == 'es'? 'Mostrar todo (800)>':'Show all (800)' }}</a>

                    </div>
                </div>
            </div>
            {################Seccion de excursiones#####################################################}
            <div class="col-lg-12 text-center">
                <h2 id="excursiones"
                    class="section-heading text-uppercase">{{ app.session.get('language') == 'es'? 'Excursiones':'Trips' }}</h2>
            </div>
            <div class="col-md-12 ">
                <div class="resCarousel" data-items="1-2-3-3" data-slide="3" data-speed="900" data-animator="lazy">
                    <div class="resCarousel-inner">
                        {% for i in excursiones %}
                            <div class="item">
                                <div class="col-xs-12 col-sm-12 col-lg-12">
                                    {#primer oferta///////////////////////////////////////////////////////////////////////#}
                                    <a class="portfolio-link"
                                       href="{{ path('oferta',{'id':i.id,'type':'excursion'}) }}">
                                        <div id="{{ 'carouselexcursion'~loop.index }}" class="carousel slide"
                                             data-ride="carousel "
                                             data-interval="false">
                                            <div class="carousel-inner">
                                                {% for image in i.images %}
                                                    <div {% if loop.index==1 %}class="carousel-item active"
                                                         {% else %}class="carousel-item"{% endif %}>
                                                        <img class="img-fluid fotosOferta"
                                                             src="{{ asset(image.half) }}"
                                                             alt="{{ image.altName }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="carousel-control-prev"
                                               href="{{ '#carouselexcursion'~loop.index }}"
                                               role="button"
                                               data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next"
                                               href="{{ '#carouselexcursion'~loop.index }}"
                                               role="button"
                                               data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>

                                    </a>
                                    <div class=" infoOferta text-left">
                                        <a class="nav-item nombreO"
                                           href="{{ path('oferta',{'id':i.id,'type':'excursion'}) }}">
                                            <h4>{{ i.nombre }}</h4></a>
                                        <h4>{{ i.provincia }}</h4></a>
                                        {% if i.valoracionArray[0]!=0 %}
                                            {% for j in 1..i.valoracionArray[0] %}
                                                <i class="fas fa-star star"></i>
                                            {% endfor %}
                                        {% endif %}
                                        {% if i.valoracionArray[1] %}
                                            <i class="fas fa-star-half-alt star"></i>
                                        {% endif %}
                                        {% if i.valoracionArray[2]!=0 %}
                                            {% for j in 1..i.valoracionArray[2] %}
                                                <i class="far fa-star star"></i>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="timeline-body">
                                            <h6 class="text-muted">
                                                {{ '€ '~i.precio1 }}  </h6>
                                            <p class="text-muted">{{ app.session.get('language') == 'es'? i.descripcion:i.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button class='btn btn-default leftRs'><i class="fa fa-fw fa-angle-left"></i></button>
                <button class='btn btn-default rightRs'><i class="fa fa-fw fa-angle-right"></i></button>
            </div>


            <div class="container">


                <div class="row text-center ">
                    <div class="col-12 botonMas portfolio-item md-auto">

                        <a class="btn btn-primary btn-sm text-uppercase " style="background-color: #f9b501;
border-color: #f9b501;"
                           href="{{ path('lista',{'type':'excursion'}) }}">{{ app.session.get('language') == 'es'? 'Mostrar todo (800)>':'Show all (800)' }}</a>

                    </div>
                </div>
            </div>
            {#//////////////////////////////////////////////////////////////////////////////////////////////////#}


        </div>
        </div>
    </section>
    <!-- Informacion -->
    <div class="parallax1" style="height: 100%;background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="container">
            <div class="intro-text">


                <section id="services">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading text-uppercase info infocomm">{{ app.session.get('language') == 'es'? 'Sobre Nosotros':'About us' }}</h2>
                                <h3 class="section-subheading"
                                    style="color: white">{{ app.session.get('language') == 'es'? 'Dejenos saber su opinión sobre la página':'Let us know your opinion about the page' }}</h3>
                            </div>
                        </div>
                        {#///////////////// las bolas para poner lo q identifica la agencia#}
                        <div class="row text-center">
                            <div class="col-md-4">
        <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
                                <h4 class="service-heading info">E-Commerce</h4>
                                <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Minima
                                    maxime quam
                                    architecto quo inventore harum ex magni, dicta impedit.</p>
                            </div>
                            <div class="col-md-4">
        <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
                                <h4 class="service-heading info">Responsive Design</h4>
                                <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Minima
                                    maxime quam
                                    architecto quo inventore harum ex magni, dicta impedit.</p>
                            </div>
                            <div class="col-md-4">
        <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
                                <h4 class="service-heading info">Web Security</h4>
                                <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Minima
                                    maxime quam
                                    architecto quo inventore harum ex magni, dicta impedit.</p>
                            </div>
                        </div>
                        {#///////////////////////////comentarios./////////////////////////////////////////////#}
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    <i class="far fa-hand-point-down fa-3x"></i>
                </div>
            </div>

        </div>
    </section>

    <div class="parallax2" style="height: 100%;background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="container">
            <div class="intro-text">

                <section id="team">
                    <div class="container">


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle" style="border: 7px solid #f9b501;"
                                         src="{{ asset('build/img/team/1.jpg') }}" alt="">
                                    <h4 class="info">Kay Garland</h4>
                                    <p style="color: white">Lead Designer</p>
                                    <ul class="list-inline social-buttons">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle" style="border: 7px solid #f9b501;"
                                         src="{{ asset('build/img/team/2.jpg') }}" alt="">
                                    <h4 class="info">Larry Parker</h4>
                                    <p style="color: white">Lead Marketer</p>
                                    <ul class="list-inline social-buttons">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="team-member">
                                    <img class="mx-auto rounded-circle" style="border: 7px solid #f9b501;"
                                         src="{{ asset('build/img/team/3.jpg') }}" alt="">
                                    <h4 class="info">Diana Pertersen</h4>
                                    <p style="color: white">Lead Developer</p>
                                    <ul class="list-inline social-buttons">
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 mx-auto text-center">
                                <p class="large" style="color: white">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing
                                    elit. Aut
                                    eaque,
                                    laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut
                                    unde.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <!-- Comentarios -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase infocomm">Comentarios</h2>
                    <h3 class="section-subheading text-muted">Dejenos saber su opinión sobre la página</h3>
                </div>
            </div>
            {#///////////////// las bolas para poner lo q identifica la agencia#}
            {#<div class="row text-center">#}
            {#<div class="col-md-4">#}
            {#<span class="fa-stack fa-4x">#}
            {#<i class="fas fa-circle fa-stack-2x text-primary"></i>#}
            {#<i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>#}
            {#</span>#}
            {#<h4 class="service-heading">E-Commerce</h4>#}
            {#<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam#}
            {#architecto quo inventore harum ex magni, dicta impedit.</p>#}
            {#</div>#}
            {#<div class="col-md-4">#}
            {#<span class="fa-stack fa-4x">#}
            {#<i class="fas fa-circle fa-stack-2x text-primary"></i>#}
            {#<i class="fas fa-laptop fa-stack-1x fa-inverse"></i>#}
            {#</span>#}
            {#<h4 class="service-heading">Responsive Design</h4>#}
            {#<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam#}
            {#architecto quo inventore harum ex magni, dicta impedit.</p>#}
            {#</div>#}
            {#<div class="col-md-4">#}
            {#<span class="fa-stack fa-4x">#}
            {#<i class="fas fa-circle fa-stack-2x text-primary"></i>#}
            {#<i class="fas fa-lock fa-stack-1x fa-inverse"></i>#}
            {#</span>#}
            {#<h4 class="service-heading">Web Security</h4>#}
            {#<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam#}
            {#architecto quo inventore harum ex magni, dicta impedit.</p>#}
            {#</div>#}
            {#</div>#}
            {#///////////////////////////comentarios./////////////////////////////////////////////#}
            {#Comentarios --------------------------------------------------------------------------------------#}

            {% if comments|length %}
                <h4 class="section-subheading">{{ app.session.get('language') == 'es'? 'Comentarios':'Comments' }}</h4>
                {#///////////////////////////comentarios./////////////////////////////////////////////#}
                <ul class="list-unstyled ">
                    {% for c in comments if c.revisado %}
                        <li class="media">
                            <a class="pr-3 " href="#">
                                <img class="mr-3 rounded-circle fotocomment"
                                     src="{{ asset(c.autor.picture) }}"
                                     alt="profile picture">
                            </a>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{ c.autor }}</h5>
                                <p class="text-muted">{{ c.text }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if app.user %}
                <div class="form-group">
                    <input type="hidden" id="objectId" name="targetId" value="none">
                    <input type="hidden" id="objectType" name="type" value="sitio">
                    <input type="hidden" id="userId" name="user" value="{{ app.user.id }}">
                    <textarea class="form-control" id="commentArea"
                              placeholder="{{ app.session.get('language') == 'es'? 'Tu Comentario ':'Your Comment ' }}*"
                              required="required" name="text"
                              data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button id="createCommentButton" class="btn btn-primary text-uppercase" type="button">
                        {{ app.session.get('language') == 'es'? 'Enviar':'Send' }}
                    </button>
                </div>
            {% endif %}
            {#///////////////////////////comentarios./////////////////////////////////////////////#}


        </div>
    </section>

    <!-- Clients -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="{{ asset('build/img/logos/envato.jpg') }}"
                             alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="{{ asset('build/img/logos/designmodo.jpg') }}"
                             alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="{{ asset('build/img/logos/themeforest.jpg') }}"
                             alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto"
                             src="{{ asset('build/img/logos/creative-market.jpg') }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}










        {% block footer %}
            {{ parent() }}

            <!-- Portfolio Modals -->

            <!-- Modal Login-->


            {#--Modal de Busqueda--#}
            <div class="portfolio-modal-sm modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"
                                style="float: left">{{ app.session.get('language') == 'es'? 'Búsqueda Avanzada':'Search' }}</h4>
                            <button type="button" class="close" style="float: right" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        </div>

                        {#..........................................................#}
                        <form action="" method="post">
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-7">
                                        <label class="text-muted"
                                               for="inputEmail4">{{ app.session.get('language') == 'es'? 'Lugar':'City' }}</label>
                                        <input type="text" class="form-control" placeholder="La Habana">
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label class="text-muted"> {{ app.session.get('language') == 'es'? 'Cantidad de Adultos':'Adults' }}</label>
                                        <select class="custom-select">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="text-muted">{{ app.session.get('language') == 'es'? 'Cantidad de Niños':'Children' }}</label>
                                        <select class="custom-select">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="text-muted"
                                               for="inputAge">{{ app.session.get('language') == 'es'? 'Edades':'Ages' }}</label>
                                        {#0000000000000000000000000000000poner for en dependencia de cantidad de niños seleccionados para poner las edades0000000000000000000#}
                                        <div class="form-group">
                                            <select id="inputAge" class="form-control">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="text-muted"
                                               for="inputEntrada">{{ app.session.get('language') == 'es'? 'Entrada':'Entrance' }}</label>
                                        <input type="date" class="form-control" id="inputEntrada">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="text-muted"
                                               for="inputSalida">{{ app.session.get('language') == 'es'? 'Salida':'Exit' }}</label>
                                        <input type="date" class="form-control" id="inputSalida">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="text-muted"
                                                   for="inputEmail4">{{ app.session.get('language') == 'es'? 'Precio':'Price' }}</label>
                                            <input type="number" class="form-control" placeholder="0$">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="text-muted"
                                                   for="inputEmail4">{{ app.session.get('language') == 'es'? 'Servicios':'Services' }}</label>
                                            <select id="inputServicios" class="form-control">
                                                <option selected>{{ app.session.get('language') == 'es'? 'Servicios':'Services' }}</option>
                                                <option value="1">{{ app.session.get('language') == 'es'? 'Paquetes':'Packages' }}</option>
                                                <option value="2">{{ app.session.get('language') == 'es'? 'Casas':'Houses' }}</option>
                                                <option value="3">{{ app.session.get('language') == 'es'? 'Carros':'Cars' }}</option>
                                                <option value="4">{{ app.session.get('language') == 'es'? 'Hoteles':'Hotels' }}</option>
                                                <option value="5">{{ app.session.get('language') == 'es'? 'Excursiones':'Trips' }}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit"
                                            class="btn btn-primary">{{ app.session.get('language') == 'es'? 'Buscar':'Search' }}</button>
                                </div>
                            </div>
                        </form>
                        {#..................................................#}

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <!-- Modal 1 -->
            <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here -->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                        <img class="img-fluid d-block mx-auto"
                                             src="{{ asset('build/img/portfolio/01-full.jpg') }}"
                                             alt="">
                                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                            deserunt
                                            repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
                                            repudiandae,
                                            nostrum, reiciendis facere nemo!</p>
                                        <ul class="list-inline">
                                            <li>Date: January 2017</li>
                                            <li>Client: Threads</li>
                                            <li>Category: Illustration</li>
                                        </ul>
                                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                                            <i class="fas fa-times"></i>
                                            Close Project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 2 -->
            <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here -->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                        <img class="img-fluid d-block mx-auto"
                                             src="{{ asset('build/img/portfolio/02-full.jpg') }}"
                                             alt="">
                                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                            deserunt
                                            repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
                                            repudiandae,
                                            nostrum, reiciendis facere nemo!</p>
                                        <ul class="list-inline">
                                            <li>Date: January 2017</li>
                                            <li>Client: Explore</li>
                                            <li>Category: Graphic Design</li>
                                        </ul>
                                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                                            <i class="fas fa-times"></i>
                                            Close Project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 3 -->
            <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here -->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                        <img class="img-fluid d-block mx-auto"
                                             src="{{ asset('build/img/portfolio/03-full.jpg') }}"
                                             alt="">
                                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                            deserunt
                                            repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
                                            repudiandae,
                                            nostrum, reiciendis facere nemo!</p>
                                        <ul class="list-inline">
                                            <li>Date: January 2017</li>
                                            <li>Client: Finish</li>
                                            <li>Category: Identity</li>
                                        </ul>
                                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                                            <i class="fas fa-times"></i>
                                            Close Project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 4 -->
            <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here -->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                        <img class="img-fluid d-block mx-auto"
                                             src="{{ asset('build/img/portfolio/04-full.jpg') }}"
                                             alt="">
                                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                            deserunt
                                            repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
                                            repudiandae,
                                            nostrum, reiciendis facere nemo!</p>
                                        <ul class="list-inline">
                                            <li>Date: January 2017</li>
                                            <li>Client: Lines</li>
                                            <li>Category: Branding</li>
                                        </ul>
                                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                                            <i class="fas fa-times"></i>
                                            Close Project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 5 -->
            <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here -->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                        <img class="img-fluid d-block mx-auto"
                                             src="{{ asset('build/img/portfolio/05-full.jpg') }}"
                                             alt="">
                                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                            deserunt
                                            repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
                                            repudiandae,
                                            nostrum, reiciendis facere nemo!</p>
                                        <ul class="list-inline">
                                            <li>Date: January 2017</li>
                                            <li>Client: Southwest</li>
                                            <li>Category: Website Design</li>
                                        </ul>
                                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                                            <i class="fas fa-times"></i>
                                            Close Project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 6 -->
            <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal">
                            <div class="lr">
                                <div class="rl"></div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here -->
                                        <h2 class="text-uppercase">Project Name</h2>
                                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                        <img class="img-fluid d-block mx-auto"
                                             src="{{ asset('build/img/portfolio/06-full.jpg') }}"
                                             alt="">
                                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                            consectetur
                                            adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos
                                            deserunt
                                            repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
                                            repudiandae,
                                            nostrum, reiciendis facere nemo!</p>
                                        <ul class="list-inline">
                                            <li>Date: January 2017</li>
                                            <li>Client: Window</li>
                                            <li>Category: Photography</li>
                                        </ul>
                                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                                            <i class="fas fa-times"></i>
                                            Close Project
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript">
                $('#createCommentButton').click(function () {
                    var objectId = $('#objectId').val();
                    var objectType = $('#objectType').val();
                    var comment = $('#commentArea').val();
                    var userId = $('#userId').val();
                    if (comment == '') {
                        alert('debe escribir un comentario');
                    } else {
                        var data = {targetId: objectId, type: objectType, text: comment, userId: userId}
                        $.ajax({
                            type: "POST",
                            url: "{{ path('ajax_create_comment') }}", // call the php file ajax/tuto-autocomplete.php (check the routine we defined)
                            data: data,
                            success: function (response) {
                                if (response.result) {
                                    alert('Su comentario ha sido recivido correctamente');
                                    $('#commentArea').val('');
                                }
                            }
                        })
                        ;
                    }

                })
            </script>
            <script src="{{ asset('build/js/resCarousel.js') }}"></script>

            <script>

            </script>
        {% endblock %}