{% extends 'base.html.twig' %}

{% block descripcion %} Preguntas Frecuentes. ¿Necesito visado para viajar a Cuba? ¿Necesito documento Médico-Sanitario para entrar a Cuba? ¿Es fácil llamar desde Cuba al exterior?{% endblock %}

{% block title %}Cuba GPS | {{ app.session.get('language') == 'es'? 'Preguntas Frecuentes':'Frequent Questions' }}{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('build/css/baguetteBox.min.css') }}"/>
     <link rel="stylesheet" href="{{ asset('build/css/grid-gallery.css') }}">


     <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059"/>
     <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
     <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
     <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
     <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

     {#<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>#}

     <link rel="stylesheet" href="{{ asset('build/css/carousel.css') }}">
 {% endblock %}

{% block menubase %}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}


{% block body %}

    {#<header class="bannerOferta">#}

    {#Banner de Kevin#}
    {#</header>#}

    <section class="bg-light" id="portfolio" style="padding: 120px 0;">
        <div class="container">
            <div class="row">
                <div class="col-12 portfolio-item">
                    <div class=" infoOferta text-left">
                        {#Nombre#}
                        <h2 class="nombreO">{{ app.session.get('language') == 'es'? 'Preguntas Frecuentes':'Frequent Questions' }}</h2>

                        {#provincia#}

                        <div class="separador"></div>
                        {#Descripcion --------------------------------------------------------------------------------------#}
                        {#descripcion#}

                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '1-	¿Necesito visado para viajar a Cuba?':'1- Do I need a visa to travel to Cuba?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Si. Para viajar a Cuba es necesario disponer de una visa/visado. Permite una entrada al país y tiene una validez de 30 días, prorrogables por otros 30 días más una vez en estando en Cuba.':'Yes. To travel to Cuba it is necessary to have a visa / visa. It allows entry into the country and is valid for 30 days, renewable for another 30 days plus once in Cuba.' }}</p>


                        <div class="separador"></div>

                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '2-	¿Necesito documento Médico-Sanitario para entrar a Cuba?':'2- Do I need a Medical-Health document to enter Cuba?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Solo existen restricciones sanitarias para viajeros procedentes de países dodne existan la fiebre amarilla, el cólera endémico, o hayan sido declarados zona de infección por la Organización Mundial de la Salud (OMS), en cuyo caso se exige presentar el Certificado Internacional de Vacunación.':'There are only sanitary restrictions for travelers from countries where there is yellow fever, endemic cholera, or have been declared an infection zone by the World Health Organization (WHO), in which case it is required to present the International Certificate of Vaccination.' }}</p>


                        <div class="separador"></div>

                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '3-	¿Es fácil llamar desde Cuba al exterior? ':'3- Is it easy to call from abroad?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'En Cuba funciona el teléfono móvil con el sistema de roaming activado sin problemas, sin embargo las llamadas hacia o desde Cuba actualmente siguen siendo muy caras. http://www.etecsa.cu/inicio/llamadas_internacionales/#telmovil
Contacte con sus proveedores telefonía móvil la tarifa de precios. Para Llamar debes marcar el código del país (+53 Cuba) sin agregar el número cero y marcar el teléfono al que desea llamar.
':'In Cuba the mobile phone works with the roaming system activated without problems, however the calls to or from Cuba currently are still very expensive. http://www.etecsa.cu/inicio/llamadas_internacionales/#telmovil
Contact your mobile phone providers the price rate. To Call you must dial the country code (+53 Cuba) without adding the number zero and dial the phone you want to call.' }}</p>

                        <div class="separador"></div>

                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '4-	¿Tengo acceso a internet en Cuba? ':'4- Do I have Internet access in Cuba?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'En las cadenas Hoteleras la conexión a internet está disponible, en algunas Casas de Renta brindan este servicio, También en determinadas áreas de la ciudad ETECSA está ofreciendo conexiones Wifi por un precio de 1 CUC la hora. Cuentas que solo funciona en los lugares con internet. ':'In the hotel chains the Internet connection is available, in some rental houses this service is offered, also in the areas of the city, ETECSA, is available in Wifi connections for a price of 1 CUC per hour. Accounts that only works in places with internet.' }}</p>
                        <div class="separador"></div>

                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '5-	¿Cuál es la mejor época para visitar Cuba? ':'5- What is the best time to visit Cuba?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Cuba es un eterno verano, se puede visitar en cualquier época del año. Sin embargo es bueno que sepas que los meses de septiembre, octubre y noviembre la isla se expone a ciclones y tormentas tropicales., siendo los meses de septiembre-octubre los más lluviosos y julio-agosto los meses más calientes durante todo el año (son los meses vacacionales de los cubanos, llenando las playas y hoteles de su presencia) las temperaturas máximas son aproximadamente 35 grados. Es recomendable llevar dorador, gafas de sol y gorras. ':'Cuba is an eternal summer, you can visit at any time of the year. However it is good that you know that the months of September, October and November the island is exposed to cyclones and tropical storms, with the months of September-October being the rainiest and July-August the hottest months throughout the year (they are the holiday months of the Cubans, filling the beaches and hotels with their presence) the maximum temperatures are approximately 35 degrees. It is advisable to wear gilding, sunglasses and caps.' }}</p>
                        <div class="separador"></div>


                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '6-	¿Necesito un seguro médico para Viajar a Cuba? ':'6- Do I need medical insurance to travel to Cuba?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Según las políticas de Cuba el seguro tiene que ser reconocido por una compañía que el gobierno cubano conozca, pero los pasajes muchas veces incluyen este seguro.':'According to Cuba policies, insurance has to be recognized by a company that the Cuban government knows, but the tickets often include this insurance.' }}</p>
                        <div class="separador"></div>


                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '7-	¿Se puede sacar dinero del cajero automático y del banco con las tarjetas de crédito Visa y MasterCard?  ':'7- Can you withdraw money from the ATM and the bank with Visa and MasterCard credit cards?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Si, los cajeros automáticos aceptan ambas tarjetas.':'Yes, ATMs accept both cards.' }}</p>
                        <div class="separador"></div>



                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '8-	¿Es recomendable beber agua en Cuba? ':'8- Is it advisable to drink water in Cuba?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Siempre que sea agua embotellada no hay problema. No es recomendable beber agua corriente de ningún grifo.':'As long as it is bottled water, there is no problem. It is not advisable to drink tap water from any tap.' }}</p>
                        <div class="separador"></div>


                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '9-	¿Qué es una Casa de Renta? ':'9- What is a Rental House?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Desde hace un tiempo el gobierno ha permitido que los cubanos alquilen habitaciones de sus casas al turismo. Las casas de renta son un tipo de alojamiento conocidos como Bed&Breakfast, pero en este caso te hospedaras en las casas de renta de propietarios cubanos. Las habitaciones tienen buen confort y están provistas con todo lo que necesitas para pasar una buena noche. Todas las casas particulares no son iguales, tienes grandes ofertas para escoger. Algunas se ubican en la playa, campo y ciudad, teniendo una excelente convivencia con la familia cubana y un servicio de calidad.':'For some time now, the government has allowed Cubans to rent rooms in their homes for tourism. The houses of rent are a type of accommodation known as Bed & Breakfast, but in this case you will stay in the houses of rent of Cuban owners. The rooms have good comfort and are provided with everything you need to spend a good night. All private houses are not the same, you have great offers to choose from. Some are located on the beach, country and city, having an excellent coexistence with the Cuban family and quality service.' }}</p>
                        <div class="separador"></div>


                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '10- ¿Qué moneda circula en Cuba? ':'10- What currency circulates in Cuba?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Todo el sistema de precios establecido en los lugares turísticos del país es a través del Peso Convertible (CUC) que sustituye la circulación de las monedas extranjeras en el país, con esta moneda puede obtener todos los servicios y productos disponibles en Cuba, aunque algunos servicios y productos también se pueden obtener en pesos cubanos (no convertibles), principalmente productos en venta en los mercados agrícolas y los alimentos ofrecidos por vendedores en la calle (ejemplos; pizzas, pan con perro (hot dogs), helados), taxis y autobuses. ':'The whole system of prices established in the tourist places of the country is through the Convertible Peso (CUC) that replaces the circulation of foreign currencies in the country, with this currency you can obtain all the services and products available in Cuba, although some services and products can also be obtained in Cuban pesos (non-convertible), mainly products for sale in agricultural markets and food offered by street vendors (examples: pizzas, bread with dog (hot dogs), ice cream), taxis and buses.' }}</p>
                        <div class="separador"></div>




                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? '11- ¿Cómo reservo mis vacaciones en Cuba?':'11- ¿Cómo reservo mis vacaciones en Cuba?' }}</h3>

                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Independientemente de que busques un viaje romántico, en familia o con todo incluido, los paquetes vacacionales de Cuba GPS harán que planearlos sea sencillo y económico. Busque el paquete de su preferencia y reserve sus vacaciones en Cuba.':'Regardless of whether you are looking for a romantic, family or all-inclusive trip, the Cuba GPS vacation packages will make planning simple and inexpensive. Find the package of your choice and book your vacation in Cuba.' }}</p>


                    </div>
                </div>

                {#---------------------------------Formulario de Reserva-----------------------------------------------------#}
            </div>
        </div>
    </section>




{% endblock %}
{% block footer %}

    {{ parent() }}



{% endblock %}


{% block javascripts %}
    {{ parent() }}


{% endblock %}




