{% extends 'base.html.twig' %}

{% block descripcion %} Quienes Somos.{% endblock %}

{% block title %}Cuba GPS | {{ app.session.get('language') == 'es'? 'Quienes Somos':'About us' }}{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('build/css/baguetteBox.min.css') }}"/>
     <link rel="stylesheet" href="{{ asset('build/css/grid-gallery.css') }}">


     <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059"/>
     <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
     <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
     <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
     <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

     {#<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>#}

     <link rel="stylesheet" href="{{ asset('build/css/carousel.css') }}">
 {% endblock %}

{% block menubase %}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}


{% block body %}

    {#<header class="bannerOferta">#}

    {#Banner de Kevin#}
    {#</header>#}

    <section class="bg-light" id="portfolio" style="padding: 120px 0;">
        <div class="container">
            <div class="row">
                <div class="col-12 portfolio-item">
                    <div class=" infoOferta text-left">
                        {#Nombre#}
                        <h2 class="nombreO">{{ app.session.get('language') == 'es'? 'Quienes Somos':'About us' }}</h2>

                        {#provincia#}

                        <div class="separador"></div>
                        {#Descripcion --------------------------------------------------------------------------------------#}
                        {#descripcion#}
                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Cuba GPS fue diseñada pensando en usted. Brindamos experiencias inolvidables, todo incluido, Cuba GPS te permite descubrir la magia de Cuba al conectarte con su gente y miles de destinos exóticos. Ofrecemos una gama completa de servicios que incluyen alquiler de automóviles y casas, paquetes vacacionales personalizados y excursiones guiadas. Cuba GPS te mostrará la verdadera Cuba como nunca antes.':'Cuba GPS was designed with you in mind. We provide unforgettable, all-inclusive experiences. Cuba GPS allows you to discover the magic of Cuba by connecting you to its people, and thousands of exotic destinations. We deliver a full suite of services, including home and car rental ,customized vacation packages and guided excursions. Cuba Gps will show you the real Cuba like never before.' }}</p>

                        <div class="separador"></div>


                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? 'Casas':'Houses' }}</h3>
                        <div class="separador"></div>
                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Ofrecemos las mejores casas de renta en toda Cuba para los amantes de la naturaleza y la ciudad. Casas a su elección y disposición desde Varadero hasta La Habana, Trinidad, Viñales, Cienfuegos, Holguín, Baracoa, y más. Usted vivirá las mejores experiencias y disfrutará como nunca antes junto a la compañía de nuestros anfitriones cubanos. Todas nuestras casas están climatizadas y puede verlas detalladamente en fotos de alta calidad en nuestra página. Actualmente contamos con más de 600 casas a su plena disposición. ':'We offer the best rental homes in the country for both nature and city lovers. Houses for your selection and available to you all the way from Varadero, up to Havana, Trinidad, Viñales, Cienfuegos, Holguin, Baracoa, and more. We assure that you will live the best experiences with us and will enjoy Cuba like never before in the company of our charismatic Cuban hosts. All of our houses are fully climatized and you can see them in detail through high resolution photos posted on our website. We currently count with more than 600 houses at your full disposal. ' }}</p>
                        <div class="separador"></div>



                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? 'Coches':'Cars' }}</h3>
                        <div class="separador"></div>
                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Tenemos más de 300 autos clásicos al servicio inmediato de nuestros clientes. Los modelos de más demanda son Chevrolet, Ford, Cadillac, Buick, Oldsmobile, Plymouth, Mercedes-Benz. Nuestros choferes y guías son bilingües, haciendo así de su viaje a Cuba una amena experiencia multicultural.':'We currently have more than 300 classic cars at the immediate service of our customers. The most popular models and brands are Chevrolet, Ford, Cadillac, Buick, Oldsmobile, Plymouth, Mercedes-Benz. Our drivers and guides are fully bilingual, thus making your trip to Cuba a pleasant-multicultural experience. ' }}</p>
                        <div class="separador"></div>



                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? 'Experiencias ':'Experiences ' }}</h3>
                        <div class="separador"></div>
                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Ofrecemos actividades dinámicas, divertidas y variadas que nos permiten descubrir y explorar los principales sitios culturales y turísticos de Cuba. Con nosotros podrás disfrutar de los bellos paisajes de la naturaleza cubana y a la vez experimentarás gran parte de la vida social de cada ciudad, ya que te acercarás a su gente y a su historia.':'We offer dynamic, fun and varied activities that allow us to discover and explore the main cultural and tourist sites of Cuba. With us you can enjoy the beautiful landscapes of Cuban nature and at the same time you will experience much of the social life of each city, as you will get closer to its people and its history.' }}</p>
                        <div class="separador"></div>


                        <h3 class="nombreO">{{ app.session.get('language') == 'es'? 'Paquetes turísticos.':'Tourist Packages ' }}</h3>
                        <div class="separador"></div>
                        <p class="text-muted">{{ app.session.get('language') == 'es'? 'Contamos con más de 50 diferentes paquetes turísticos para conocer Cuba. Todos específicamente elaborados a la medida, economía y fechas que nuestros clientes deseen. Nuestros paquetes están particularmente preparados para sumergirnos en la historia de cada lugar, no dejando de velar por la comodidad de la familia visitante y logrando hacer de sus vacaciones unas nunca antes experimentadas. ':'We count with more than 50 different tourist packages to help you get to know Cuba better. All of them are specifically made to comply with the economic preferences and dates that our customers desire. Our packages are particularly prepared to immerse us in the history of each place, not forgetting the comfort of the visiting family and always pursuing to achieve with you the feeling of a never-before-experienced vacations.' }}</p>
                        <div class="separador"></div>
                    </div>
                </div>

                {#---------------------------------Formulario de Reserva-----------------------------------------------------#}
            </div>
        </div>
    </section>




{% endblock %}
{% block footer %}

    {{ parent() }}



{% endblock %}


{% block javascripts %}
    {{ parent() }}


{% endblock %}




