<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cuba GPS - Oficial</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('build/backend/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('build/backend/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('build/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('backend/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('build/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('build/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</head>
<body id="page-top">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('blog_index') }}"><img src="{{ asset('build/img/logo.png') }}"
                                                                        width="170" height="50"
                                                                        class="d-inline-block align-top" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_cars') }}">Carros<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_houses') }}">Casas<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Excursiones<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('paquetes') }}">Paquetes<span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}


</body>

</html>