{% extends 'backendBase.html.twig' %}


{% block title %}Administración | Usuarios{% endblock %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block menu %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}


{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Administración</a>
        </li>
        <li class="breadcrumb-item active">Usuarios</li>
    </ol>

    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-user-circle"></i>
                    Usuarios
                </div>
            </div>

            {#<i class="fas fa-car"></i>#}
            {#Carros#}


            {#<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#createModal">#}
            {#Agregar#}
            {#</button>#}
        </div>


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Username</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Email</th>
                        <th scope="col">Redireccionado por:</th>
                        <th scope="col">Usuario de:</th>
                        <th scope="col">Registrado</th>
                        <th scope="col">Crear Reserva</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Username</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Email</th>
                        <th scope="col">Redireccionado por:</th>
                        <th scope="col">Usuario de:</th>
                        <th scope="col">Registrado</th>
                        <th scope="col">Crear Reserva</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for c in users %}
                        <tr>
                            <td><img src="{{ asset(c.picture) }}"
                                     class="img-fluid rounded-circle avat"
                                     style=" height: 35px; margin-right: 20px; border-bottom-left-radius: 50%;
                                    border-bottom-right-radius: 50%;width: 35px;" alt="avatar image">
                                {{ c }}</td>
                            <td>{{ c.username }}</td>
                            {% if c.roles|last=='ROLE_PUBLISHER' %}
                                <td><a type="button" class="btn btn-dark"
                                       href="{{ path('role_publisher',{'id':c.id,'role':'publisher'}) }}">Publicador</a>
                                </td>
                            {% else %}
                                <td><a type="button" class="btn btn-outline-dark"
                                       href="{{ path('role_publisher',{'id':c.id,'role':'user'}) }}">Usuario</a></td>
                            {% endif %}
                            <td><a type="button" class="btn btn-outline-dark" href="{{ path('client_email',{'clientId':c.id}) }}"><i class="fab fa-telegram-plane"></i></a>{{ c.email }}</td>
                            <td>{{ c.redirectedBy }}</td>
                            <td>{{ c.userOf }}</td>
                            <td>{{ c.registeredAt|date }}</td>
                            <td><a type="button" class="btn btn-secondary" href="{{ path('reserva_especial',{'id':c.id}) }}">Reserva</a></td>
                        </tr>
                    {% else %}
                        <th colspan="5">No hay usuarios registrados</th>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto mr-auto">
                    <i class="fas fa-user-circle"></i>
                    Usuarios
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
{% endblock %}